
# development:
#   adapter: mysql2
#   encoding: utf8
#   reconnect: false
#   database:  mony_development_latest
#   pool: 5
#   username: root
#   password:
#   socket: /opt/lampp/var/mysql/mysql.sock

# SQLite version 3.x
#   gem install sqlite3

#   Ensure the SQLite 3 gem is defined in your Gemfile
#   gem 'sqlite3'

# development:
#   adapter: postgresql
#   database: beacon_production
#   username: beacon
#   password: beacon
#   host: 192.168.1.51
#   reconnect: true

development:
  adapter: sqlite3
  database: db/development.sqlite3
  pool: 5
  timeout: 5000

test: &test
  adapter: sqlite3
  database: db/test.sqlite3
  pool: 5
  timeout: 5000

production:
  adapter: sqlite3
  database: db/production.sqlite3
  pool: 5
  timeout: 5000

staging:
  adapter: postgresql
  database: beacon_production
  username: beacon
  password: beacon
  host: 192.168.1.51
  reconnect: true
