

<div class="container">
 <div class="span12">
    <div class="span4">
        <% @course = Course.find(params[:commentable]) %>
        <div class='span4' style="font-size: 20px; font-family: Arial;  text-align: justify;">
           <p>Course title </p>
           <%= @course.title%>
        </div><br/>
        <div class='span4' style="font-size: 17px; font-family: Arial;  text-align: justify;">
           <p>Course description </p>
           <%= @course.desc%>
        </div>   
    </div>
    <div class="span6 right">
     <%= render 'form'  %>
    </div> 
 </div>

</div>
