<div class="container">
 <div class="span12">
    <div class="span4">

        <% @course = Course.find(params[:commentable]) %>
        <div class='span5' style="font-size: 1.6em; font-family: Arial;  text-align: justify;">
        <b style="color: #b26b3a;"><%= @course.title%> </b><br/>
        </div>
        <div class='span5' style="font-size: 17px; font-family: verdana;  text-align: justify;">
          <%= @course.desc%>
        </div>   
    </div>
    <div class="span6 right">
     <%= render 'form'  %>
    </div> 
 </div>

</div>
