<div class="container">
 <div class="span12" style=" border-radius: 10px;width: 85%;margin: 20px auto;" >
    <div class="span6">       
        <div class='span5' style="font-size: 1.6em; font-family: Arial;  text-align: justify;">
        <b style="color: #b26b3a;"><%= @course.title%> </b><br/>
        </div><br/><br/>
        <div class='span5' style="font-size: 15px; font-family: verdana;  text-align: justify;">
          <%= @course.desc%>
        </div>   
    </div>
    <div class="span5 right">
     <%= render 'form'  %>
    </div> 
 </div>

</div>
