<h3 align = "center">Knowledge Partners</h3>
<table align="center">
<tr>
	<td>
		<%= @partner.companyname %>
	</td>
</tr>
<tr>
<td><%= image_tag url_for(:controller => 'partners',:action => 'show', :id => @partner.id), :size => "50x50"%>
</tr>

</table>
