<div class="bannerlearn">
	<span class="learnheading">Learn: </span>
	<% @topics.each do |topic|%>
	<% @topicStructure = topic.name %>
	<span class="badge leartopic" style="color: black;"><%= link_to @topicStructure, topic %></span>
	<% end %>
</div>