<div class="bannerlearn">
	<span class="learnheading" style="color:white;">Learn: </span>
	<% @topics.each do |topic|%>
	<% @topicStructure = topic.name %>
	<span class="badge1 leartopic"><%= link_to @topicStructure, topic, class: "badge1" %></span>
	<% end %>
</div>