<div class="bannerlearn" >
	<span class="learnheading" style="color:white;margin-top:45px;"><img src="assets/banner1_label.png"> </span><br>
	<span class="learnheading" >
	<% i=0 %>
	<% @topics.each do |topic|%>
	<% i=i+1 %>
	<% @topicStructure = topic.name %>
	<span class="badge1 leartopic"><%= link_to @topicStructure, topic, class: "badge1" %>
	<% if(i < @topics.count) %>|<% end %>
	</span>
	<% end %>
</span>
</div>