<% provide(:title, 'About') %>
<% provide(:effectingHeader) %>
<br/><br/>

<div class="row">
  <div class="container">
    <div class="span10" style="margin-left:100px;">
    <div style="-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
-webkit-box-shadow: 0 1px 2px 1px rgba(0,0,0,0.25);
box-shadow: 0 1px 2px 1px rgba(0,0,0,0.25);
background-color: #fff;
-webkit-border-radius: 1px;
border-radius: 1px;
padding: 30px 30px 48px 30px;
margin-left: -3.1914895%;
width: 106.382979%;
height: 100%;margin-bottom:20px;">
    
<div class="tabbable tabs-left" > 
<ul class="nav nav-tabs" id="myTab" style="float: left;width: 25%;margin-right: 0px;padding-top: 30px;">
  <li class="active"><a href="#home">About Beacon Learning?</a></li>
  <li><a href="#profile">Our Team</a></li>
  <li><a href="#messages">Contact Us</a></li>
</ul>

<div class="tab-content" style="width: 75%;float: left;">
  <div class="tab-pane active" id="home">
<div class="aboutcompany">
  <div class="head">About Beacon Learning</div>
    <div class="underlinetext">
    <strong>Beacon Learning</strong> provides learning services for enabling the provision of high quality, professional, skill-oriented tertiary education for students and working professionals. It partners with reputed educational institutions and companies to understand emerging requirements and works with them to design and deliver value added programs. Beacon's programs include traditional classroom based programs, internet-delivered online programs as well as blended programs which combine the best aspects of classroom and online programs. 
</div><div class="underlinetext">
Leveraging a combination of highly qualified professionals, education sector expertise, use of latest educational technologies and extensive industry engagement, Beacon aspires to improve access to high quality and practically relevant higher education to the millions of aspiring Indian youth.</div></div></div>
  <div class="tab-pane" id="profile"><div class="aboutcompany">
<div class="underlinetext">
<div class="aboutdirimage">
  <img src="assets/11.jpg" width="150" height="175"><br>
 <span style="color:#4090ba;"> Mohan Lakhamraju</span><br>
  <a href="http://in.linkedin.com/in/mohanlakhamraju" target="_blank"><img src="assets/linkedin_badge.png"></a>
</div>
<p> 
Mohan chairs the team and leads the venture in achieving its raison d'être. A believer of the transformational impact that education can have, Mohan's stated vision is to make quality education accessible, impactful and relevant for all. Before founding Beacon Learning, Mohan had worked with leading private equity and venture capital funds in the Bay area and in his last assignment, was the Managing Director for Tiger Global in India. Mohan is a computer science engineer from IIT Bombay and went on to receive his MS from University of California, Berkeley and MBA from Stanford University's Graduate School of Business.  </p> 
</div>
<div class="underlinetext">
<div class="aboutdirimage">
  <img src="assets/2.jpg" width="150" height="175"><br>
  <span style="color:#4090ba;">Hari Krishnan Nair</span><br>
  <a href="http://in.linkedin.com/in/harikrishnannair"  target="_blank"><img src="assets/linkedin_badge.png"></a>
</div>
<p> 
Hari leads the marketing effort and partner Initiatives at Beacon Learning. Partnering with academic institutions, building a library of industry relevant programs and spreading the good word is his calling at Beacon Learning. Hari graduated from Management Development Institute (MDI Gurgaon) and was the co-founder at iLabs, a startup he built and sold, before coming on board at Beacon.   </p> </div>
<div class="underlinetext">
<div class="aboutdirimage">
  <img src="assets/3.jpg" width="150" height="175"><br>
  <span style="color:#4090ba;">Arvind Maharajan</span><br>
 <a href="http://in.linkedin.com/in/arvindmaharajan" target="_blank"> <img src="assets/linkedin_badge.png"></a>
</div>
<p> 
Arvind manages the technology and content platform at Beacon Learning. From instructional design to building the learning environment, Arvind's passion is to create the best learning experience at Beacon Learning. Arvind graduated from Great Lakes Institute of Management and has worked at another ed-tech company prior to joining the Beacon Team</p> </div>
  </div></div>
  <div class="tab-pane" id="messages" style="padding:20px;">
<div class="underlinetext">
    <p><strong style="text-decoration:underline;">E-mail ID</strong>: portal.admin@beaconlearning.in
</p><p>
<strong style="text-decoration:underline;">Contact Number</strong>: 0124 - 4934024
</p><p>
<strong style="text-decoration:underline;">Address</strong>:
815,Udyog Vihar, Phase V,
Gurgaon – 122015</p>
</div></div>
</div>
</div>
</div>
</div>
</div>
<script>
$('#myTab a').click(function (e) {
  e.preventDefault();
  $(this).tab('show');
})

</script>
