  <% provide(:title, 'businessanalyticsprogram') %>
<% provide(:effectingHeader, 'No') %>
 <div class="row">
 <div class="container" style="width:100%;">
  <div class="span12" style="margin-left:6%;width:88%;">
  <div style="-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;  box-sizing: border-box;  -webkit-box-shadow: 0 1px 2px 1px rgba(0,0,0,0.25);  box-shadow: 0 1px 2px 1px rgba(0,0,0,0.25);  background-color: #fff;
  -webkit-border-radius: 1px;  border-radius: 1px;   margin-left: -3.1914895%;  width: 106.382979%;  height: 100%;margin-bottom:20px;">
  <h1 style="text-align:center;color:#ddd;font-size: 40px;">Your Gateway to a management career in analytics</h1>
  <div style="background:url('assets/top_bg.png');float:left;width:100%;background-size: 100% 100%;background-repeat: no-repeat;box-shadow: 1px 2px 10px 2px #ddd;">
<table><tr><td style="padding:55px;">
<img src="assets/gllogo.png" width="360" height="130">
</td>
<td style="padding:55px;">
  <h1>Post Graduate Program in Business Analytics</h1>
  <b>11-month</b>  blended program (classroom + online)<br> designed for <b>working professionals</b>
</td></tr></table>
  </div>
    <div style="background:url('assets/banner_bg.png');float:left;width:100%;background-size: 100% 100%;background-repeat: no-repeat;width: 104%;height: 365px;margin-left: -1%;box-shadow: 0px 5px 8px 5px #333;margin-bottom: 15px;">
<table style="width:100%;"><tr><td style="vertical-align:top;">
<img src="assets/banr_info.png" style="margin-left: -11px;margin-top: -7px;">
</td>
<td >
  <div style="margin-top:20px;margin-left: 50px;background:url('assets/form_bg.png');width:450px;height:332px;">
    <div id='crmWebToEntityForm' align=center><META HTTP-EQUIV 
  ='content-type' CONTENT='text/html;charset = UTF-8'>  
  <form action='https://crm.zoho.com/crm/WebToLeadForm' name=WebToLeads788461000000067005 method='POST' onSubmit='javascript:document.charset="UTF-8"; return checkMandatery()' 
  accept-charset='UTF-8'><table border=0 cellspacing=0 cellpadding=5 
  width=250 style='float:right;margin:65px 0px;'>  <input type='text' 
  style='display:none;' name='xnQsjsdp' value='SxGdQuLItuBthYo@kRl79w$$'/> 
  <input type='hidden' name='zc_gad' 
  id='zc_gad' value=''/>  <input type='text' style='display:none;' 
  name='xmIwtLD' value='mJKTOQCzg8feKQxKK0wA4HYDTxR5kYBU'/>  <input 
  type='text'  style='display:none;' name='actionType' value='TGVhZHM='/> 
  <input type='text' style='display:none;' name='returnURL' 
  value='http://beacon-learning.herokuapp.com/pgpba' /> 
  <tr><td colspan='2' align='left' 
style='font-size:22px;font-style:italic;'><strong>Free instant access</strong></td></tr>
  <tr><td nowrap style='font-family:sans-serif;font-size:12px;display:none;font-weight:bold' align='right' width='1%' >Last Name &nbsp;&nbsp;:</td><td 
  width='75%'><input type='text' maxlength='80' name='Last Name' placeholder="Name*" /> 
  </td></tr><tr><td width='75%'><input 
  type='text' maxlength='100' name='Email' placeholder="Email*"/> </td></tr><tr><td width='75%'><input 
  type='text' maxlength='30' name='Phone' placeholder="Phone*" /> </td></tr><tr><td  
  align=center> <input type='submit' 
  name='save' value="Get It Now " style="background: #2a478d;font-size: 18px;color: #fff;border: none;">  </td></tr></table>
  <script> var mndFileds=new Array('Last Name');var fldLangVal=new Array('Last Name');function 
  checkMandatery(){for(i=0;i<mndFileds.length;i++){ var 
  fieldObj=document.forms['WebToLeads788461000000067005'][mndFileds[i]];if(fieldObj) 
  {if(((fieldObj.value).replace(/^\s+|\s+$/g, 
  '')).length==0){alert(fldLangVal[i] +' cannot be empty'); 
  fieldObj.focus(); return false;}else 
  if(fieldObj.nodeName=='SELECT'){if(fieldObj.options[fieldObj.selectedIndex].value=='-None-'){alert(fldLangVal[i] 
  +' cannot be none'); fieldObj.focus(); return false;}}}}}</script>  
  </form></div>


 


  </div>
</td></tr></table>
  </div>
  <h1 style="text-align:center;">About the Program</h1>
  <div style="float:left;width:100%;background-size: 100% 100%;background-repeat: no-repeat;box-shadow: 1px 2px 10px 2px #ddd;">
    <img src="assets/about_pgrogram.png" style="width:100%;">
  </div>
   <div style="float:left;width:97%;background-size: 100% 100%;background-repeat: no-repeat;box-shadow: 1px 2px 10px 2px #ddd;padding: 20px;">
<h4>CONTACT US</h4>
<table cellpadding="5"><tr><td><i class="icon "><img src="assets/tel.png" width="15"></i><b>Tel</b>: 0124-4934024</td>
<td><i class="icon icon-envelope"></i><b>Email</b>: pgpba@beaconlearning.in</td>
<td><i class="icon "><img src="assets/mouse.png" width="15"></i><b>Web</b>:www.beaconlearning.in/pgpba</td></tr></table>
  </div>
  </div>
  </div>
  </div>
  </div>

