  <% provide(:title, 'businessanalyticsprogram') %>
  <% provide(:effectingHeader) %>
  <br/><br/>

  <div class="row">
    <div class="container">
      <div class="span12" style="margin-left:100px;">
      <div style="-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 1px 2px 1px rgba(0,0,0,0.25);
  box-shadow: 0 1px 2px 1px rgba(0,0,0,0.25);
  background-color: #fff;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  padding: 30px 30px 48px 30px;
  margin-left: -3.1914895%;
  width: 106.382979%;
  height: 100%;margin-bottom:20px;">
      
  <div id='crmWebToEntityForm' align=center><META HTTP-EQUIV 
  ='content-type' CONTENT='text/html;charset = UTF-8'>  <form 
  action='https://crm.zoho.com/crm/WebToLeadForm' 
  name=WebToLeads788461000000067005 method='POST' 
  onSubmit='javascript:document.charset="UTF-8"; return checkMandatery()' 
  accept-charset='UTF-8'><table border=0 cellspacing=0 cellpadding=5 
  width=480 style='border-top:2px solid #999999;border-bottom:1px solid 
  #999999;background-color:#ffffff;'>  <input type='text' 
  style='display:none;' name='xnQsjsdp' 
  value='SxGdQuLItuBthYo@kRl79w$$'/>  <input type='hidden' name='zc_gad' 
  id='zc_gad' value=''/>  <input type='text' style='display:none;' 
  name='xmIwtLD' value='mJKTOQCzg8feKQxKK0wA4HYDTxR5kYBU'/>  <input 
  type='text'  style='display:none;' name='actionType' value='TGVhZHM='/> 
  <input type='text' style='display:none;' name='returnURL' 
  value='http://beacon-learning.herokuapp.com/certified_program_users' /> 
  <br><tr><td colspan='2' align='left' 
  style='background-color:#f5f5f5;border-bottom:2px dotted #dadada; 
  color:#000000;font-family:sans-serif;font-size:14px;'><strong>Web 
  Form</strong></td></tr><tr><td nowrap 
  style='font-family:sans-serif;font-size:12px;font-weight:bold' 
  align='right' width='25%'>Last Name &nbsp;&nbsp;:</td><td 
  width='75%'><input type='text' maxlength='80' name='Last Name' /> 
  </td></tr><tr><td nowrap 
  style='font-family:sans-serif;font-size:12px;font-weight:bold' 
  align='right' width='25%'>Email &nbsp;&nbsp;:</td><td width='75%'><input 
  type='text' maxlength='100' name='Email' /> </td></tr><tr><td nowrap 
  style='font-family:sans-serif;font-size:12px;font-weight:bold' 
  align='right' width='25%'>Phone &nbsp;&nbsp;:</td><td width='75%'><input 
  type='text' maxlength='30' name='Phone' /> </td></tr><tr><td colspan=2 
  align=center style='background-color:#eaeaea'> <input type='submit' 
  name='save' value=Save /> &nbsp; &nbsp; <input type='reset' name='reset' 
  value=Reset /> </td></tr></table><script> var mndFileds=new Array('Last 
  Name');var fldLangVal=new Array('Last Name');function 
  checkMandatery(){for(i=0;i<mndFileds.length;i++){ var 
  fieldObj=document.forms['WebToLeads788461000000067005'][mndFileds[i]];if(fieldObj) 
  {if(((fieldObj.value).replace(/^\s+|\s+$/g, 
  '')).length==0){alert(fldLangVal[i] +' cannot be empty'); 
  fieldObj.focus(); return false;}else 
  if(fieldObj.nodeName=='SELECT'){if(fieldObj.options[fieldObj.selectedIndex].value=='-None-'){alert(fldLangVal[i] 
  +' cannot be none'); fieldObj.focus(); return false;}}}}}</script>  
  </form></div>
  </div>
  </div>
  </div>
  </div>

