<div class="homebanner" >
    <div class="container" style="width: 100%;">
        <div class="row">
          <div style="background:#fab619;height:85px;width:100%;margin-top:-5px;text-align:center;line-height:55px;font-size:32px;">
          <table style="margin:0px 150px;"><tr><td><img src="../assets/GREAT LAKES LOGO.jpg" width="180" height="70" style="margin-top: -1px;"></td><td style="vertical-align:top;"><h1 style="font-size: 40px;font-weight: normal;">  Post Graduate Certificate in Business Analytics</h1></td></tr></table>
          </div>
          <div class="span12" id="slider" style="width: 100%;">
            <!-- Top part of the slider -->
            <div class="row">
              <div class="" id="carousel-bounding-box">
                <div id="myCarousel" class="carousel slide">
                  <!-- Carousel items -->
                  <div class="carousel-inner">
                    <div class="active item" data-slide-number="0">      <div class="row">
                    
                      <div class="clearfix"></div>
                      <div class="span12" align="center" style="background-image:url(../assets/slider1.png);background-repeat:no-repeat;background-size:100% 100%;color:white;width:100%;height: 300px;">
                      <div class="span6" align="center" style="margin-top: 40px;margin-left: 160px;">
                                       <div class="bannervideo" >
                          <iframe class="video-me" src="http://player.vimeo.com/video/27244727?title=1&amp;byline=1&amp;portrait=1&amp;color=ffffff" width="420" height="230" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                        </div>
                        <div class="bannerinfo">
                          <p style="font-size:21px;">
                           </p>
                        </div>
                                             </div>
                      <div class="span4" align="justify">
                        

                        <div class="bannervideo" >
                         <!--  <iframe class="video-me" src="http://player.vimeo.com/video/27244727?title=1&amp;byline=1&amp;portrait=1&amp;color=ffffff" width="350" height="230" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> -->
                        </div>
                      </div>
                       </div>
                      <div class="clearfix"></div>
                    </div></div>
                    <div class="item" data-slide-number="1"><div class="row">
                      
                        
                      
                      <div class="clearfix"></div>
                      <div class="span12" align="center"  style="background-image:url(../assets/slider2.png);background-repeat:no-repeat;background-size:100% 100%;color:black;width:100%;height: 300px;">

                      <div class="span5" align="center" style="margin-left: 160px;margin-top: 20px;" >
                                  <div class="bannertext">
                                   
                        </div>         <br>  <br>
                         <div class="bannerinfo">
                         
                        </div>


                        <div class="bannerlearn" style="color:#000;">
                                                 </div>
                        </div>
                      </div>
                      <div class="span4" align="justify">
<!--                        
<div class="bannervideo" >
                          <img src="assets/GREAT LAKES LOGO.jpg" width="250" height="160"/>
                        </div> -->
                      </div>
                      <div class="clearfix"></div>
                    </div></div>

                     <div class="item" data-slide-number="2"><div class="row">
                      
                        
                      
                      <div class="clearfix"></div>
                      <div class="span12" align="center"  style="background-image:url(../assets/slider3.png);background-repeat:no-repeat;background-size:100% 100%;color:black;width:100%;height: 300px;">

                      <div class="span5" align="center"  >
                                  <div class="bannertext">
                                   
                        </div>         <br>  <br>
                         <div class="bannerinfo">
                         
                        </div>


                        <div class="bannerlearn" style="color:#000;">
                          
                             



                        </div>
                        </div>
                      </div>
                      <div class="span4" align="justify">
<!--                        
<div class="bannervideo" >
                          <img src="assets/GREAT LAKES LOGO.jpg" width="250" height="160"/>
                        </div> -->
                      </div>
                      <div class="clearfix"></div>
                    </div></div>


                  </div>

                </div>
              </div>
              <div class="span4" id="carousel-text"></div>

            </div>

          </div>

        </div> <!--/Slider-->
      <div class="carousel-nav">
        <a href="#" data-to="0" class="active">1</a>
        <a href="#" data-to="1">2</a>
        <a href="#" data-to="2">3</a>

      </div>


    </div>


     

    </div>



 <div class="coursesyllabus">
   <div style="width:100%;background:#333;margin-left:-10px;height:45px;padding: 0px 10px;margin-top:-11px;" ><ul class="nav nav-tabs1" id="myTab" style="width: 75%;margin:0px auto;">
  <li class="active"><a href="#home1">OVERVIEW</a></li>
  <li><a href="#profile1">ABOUT PROGRAM</a></li>
  <li><a href="#messages1">ADMISSIONS</a></li>
</ul></div>
  <div class="container" >
      <div class="row">
       <div class="span10" >
      <div class="tab-content" >
  <div class="tab-pane active" id="home1">
    <div class="span10">
    <div class="tabbable tabs-left" > 
    <div  style="margin-top: 40px;float: left;width: 25%;margin-right: 0px; 10px;height: 625px;
background: url('assets/greybandcopy.png');background-position-x: 185px;">
<ul class="nav nav-tabs2" id="myTab1" style="">
  <li class="active"><a href="#home">What is Analytics?</a></li>
  <li><a href="#profile">Analytics Career</a></li>
  <li><a href="#messages">Why PGCBA</a></li>
  <li><a href="#partners">Corporate Partners</a></li>
</ul></div>

<div class="tab-content" style="width: 75%;float: left;padding-top: 30px;">
  <div class="tab-pane active" id="home">
<div class="aboutcompany">
    <div class="underlinetext">
    <strong>What is Analytics?</strong> 

Great Lakes' flagship full time Post Graduate Program in Management (PGPM) helps transform high potential professionals in to competent business managers and decision makers in a short span of 1 year. 
</div><div class="underlinetext">
The edifice of Great Lakes is built around a single theme that shapes all its strategies, policies and plans - it is called customer-centricity. Great Lakes defines "customer" to include all its beneficiaries - the students who receive the best and most practical business education, with emphasis on the honing their entrepreneurial potential; the world of business, industry and commerce whose need for managerial talent of the highest quality is met and the top notch faculty and staff that provide such an educational experience. We also add value to this customer-centricity with meritocracy and quality.</div>
<div class="underlinetext">
To become A Centre of Excellence in fostering managerial leadership and entrepreneurship in the development of human potential through quality research, teaching, residential learning and professional management services.</div>
<div class="underlinetext">
Provide world-class management education in India in an atmosphere of freedom, while adhering to strict academic standards in research and teaching;</div>
<div class="underlinetext">
<table class="table table-bordered table-striped"><thead style="background: #8F8888;"><th>Event</th>
  <th>Deadline</th></thead>
  <tbody>
    <tr><td>Last Date for Receiving Application</td><td>28 August, 2013</td></tr>
  <tr><td>Online Test</td><td>02 September, 2013</td></tr>
<tr><td>Addmission Process</td><td>10 September, 2013</td></tr>
<tr><td>Final list of Selected Candidates</td><td>20 September, 2013</td></tr>
<tr><td>Commencement of Program</td><td>18 October, 2013</td></tr>
</tbody></table></div></div></div>
  <div class="tab-pane" id="profile"><div class="aboutcompany">
</div>
</div>
  <div class="tab-pane" id="messages" style="padding:20px;">
<div class="underlinetext">
    
</div></div>
 <div class="tab-pane" id="partners" style="padding:20px;">
<div class="underlinetext">
  
</div></div>
</div>
</div>
</div>
</div>
  <div class="tab-pane" id="profile1"></div>
  <div class="tab-pane" id="messages1"></div>
 </div>

        </div><div class="span4">
  <div class="left" style="margin-top: 40px;margin-left: 10px;padding-left: 10px;height: 625px;
background: url('assets/greyband1.png');"><table cellpadding="5" style="margin-bottom:20px;"><tr><td><img src="../assets/apply.png"></td><td><h4><a href="#certified_program_modal" data-toggle="modal" style="color:black;">Apply Now</h4></td></tr></table>
    <table cellpadding="5" style="margin-bottom:20px;"><tr><td><img src="../assets/dwnld.png"></td><td><h4>Download<br> Brochure</h4></td></tr></table>
<table cellpadding="5" style="margin-bottom:20px;" ><thead><h4>Program Benifits</h4></thead><tr><td><img src="../assets/benifits.png"></td><td>the technology and content platform at Beacon Learning.</td></tr></table>
<table cellpadding="5" style="margin-bottom:20px;"><thead><h4>Contact Us</h4></thead><tr><td><img src="../assets/contact.png"></td><td><b>E:</b>info@beaconlearning.in<br><b>T:</b>+91-011-12345678</td></tr></table>
<table cellpadding="5" ><thead><h4>FAQs</h4></thead><tr><td><img src="../assets/faq.png"></td><td>the technology and content platform at Beacon Learning.</td></tr></table>
  </div>
</div></div></div>
<script>
$('#myTab a').click(function (e) {
  e.preventDefault();
  $(this).tab('show');
})
$('#myTab1 a').click(function (e) {
  e.preventDefault();
  $(this).tab('show');
})
</script>
     
