<div class='container'>
  <div class="row" align="justify">
          <div class="span1"></div>
          <div class="span4">
            <div class="movedown pull-right">
              <h4><i class="icon-briefcase"></i> Contact Us</h4>
              <p><strong>Email: </strong> <a href='mailto:info@beaconlearning.in'><u>info@beaconlearning.in</u></a></p>
              <p>www.beaconlearning.in</p>
            </div>
          </div>

          <div class="span7">
              <div class="contactform">          
                <h4><i class="icon-pencil"></i> We love to hear from you</h4>
                <form action="#" method="post">
                  <input type="hidden" name="submitted" value="submitted">
                <div class="field">
                  Name<sup>*</sup><br/>
                  <input type="text" name="name" class="span3" required="required" placeholder="Your Name" />
                </div>
                <div class="field">
                  Email<sup>*</sup><br/>
                  <input type="email" name="email" class="span3" required="required" placeholder="Email address" />
                </div>
                <div class="field">
                  Message<sup>*</sup><br/>
                  <textarea id='messagebox' name="message" placeholder="Your message" required="required"></textarea>
                </div>
                <div class="submitfield">
                  <!-- <sup>*</sup> indicates a required field&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br/><br/> -->
                  <input style="cursor:pointer" class='btn-contact' type="submit" value="Send">
                </div>
              </div>
          </div>

          
  </div>
</div>
