<% provide(:title, 'Knowledge Partners') %>
<% provide(:effectingHeader) %>
<br/><br/>
<div class="container movedown">
  <div class="row"  align="center" >
      <div class="span10 " align="center" style="width:80%;margin:0px 143px;">
        <div class="row" style="box-shadow: 3px 3px 10px 5px #333;padding: 15px;">
        <div class="span10" style="min-height:120px;">
          <div class="span3"><img src="assets/greatlakeslogo.jpg" width="200" height="125"/></div>
          <div class="span6"><p style="padding:20px;"> One of India’s premier B-school founded by Padma Shri Dr. Bala V. Balachandran with dual campuses in Chennai and Gurgaon. </p></div>
        </div>

          <div class="span10" style="min-height:120px;">
            <div class="span6"><p style="padding:20px;">Jigsaw Academy offers analytic training workshops for corporates and some of the leading MBA institutes in the country.</p></div>
            <div class="span3"><img src="assets/jigsaw.jpg" width="200" height="125" /></div>
          </div>

            <div class="span10" style="min-height:120px;">
              <div class="span3"><img src="assets/edu.png" width="200" height="125" /> </div>
              <div class="span6"><p style="padding:20px;">EduPristine is India’s largest training provider for international certifications like CFA® Program, FRM®, PRM®. </p></div>
            </div>
      </div>
      </div>
  </div>
</div>