<% provide(:title, 'Knowledge Partners') %>
<% provide(:effectingHeader) %>
<br/><br/>
<div class="container movedown">
  <div class="row"  align="center" style="margin: 0px auto;">
      <div class="span10 " align="center" >
        <div class="span10" style="min-height:120px;">
          <div class="span3"><img src="assets/greatlakeslogo.jpg" /></div>
          <div class="span6"><p>One of India’s premier B-school founded by Padma Shri Dr. Bala V. Balachandran with dual campuses in Chennai and Gurgaon. </p></div>
        </div>

          <div class="span10" style="min-height:120px;">
            <div class="span6"><p>Jigsaw Academy offers analytic training workshops for corporates and some of the leading MBA institutes in the country.</p></div>
            <div class="span3"><img src="assets/jigsaw.jpg" /></div>
          </div>

            <div class="span10" style="min-height:120px;">
              <div class="span3"><img src="assets/nanyang.png" /> </div>
              <div class="span6"><p>EduPristine is India’s largest training provider for international certifications like CFA® Program, FRM®, PRM®. </p></div>
            </div>
      </div>

  </div>
</div>