<% provide(:title, 'Knowledge Partners') %>
<% provide(:effectingHeader) %>
<br/><br/>
<div class="container movedown">
  <div class="row"  align="center" >
      <div class="span11 " align="center" style="width:80%;margin:0px 130px;">
        <div class="row" style="padding: 15px;">
          <div class="span10" style="padding:20px;text-align: justify;">
            <h3 style="text-align: center;color: steelblue;">Knowledge Partners</h3>
          </div>
        <div class="span11 knowledge_partners" >
           <div class="span5"><img src="assets/GREAT LAKES LOGO.jpg" width="243" height="90"/></div>
          <div class="span5">
            <p> Consistently ranked amongst the top ten business schools in the country, Great Lakes is well known for its world class faculty, pedagogy and academic prowess. </p></div>
        </div>

          <div class="span11 knowledge_partners">
            <div class="span5"><p >Jigsaw academy offers analytical training workshops for corporates and professionals and is the Skill Development Partner for Beacon in the area of Analytics and Data Science.</p></div>
            <div class="span5"><img src="assets/jigsaw.png" width="200" height="125" /></div>
          </div>

            <div class="span11 knowledge_partners" style="border-bottom: 0px">
              <div class="span5"><img src="assets/eduPristineLogo.jpg" width="200" height="125" /> </div>
              <div class="span5"><p >Having trained over 10,000+ participants, Pristine is a leading training company for financial modeling and project finance is the Skill Development Partner for Beacon in the area of Finance. </p></div>
              </div>
      </div>
      </div>
  </div>
</div>