<% provide(:title, 'Disclaimer and Privacy') %>
<% provide(:effectingHeader) %>
<br/><br/>

<div class="row">
  <div class="container">
    <div class="span12" style="margin-left:100px;">
    <div style="-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
-webkit-box-shadow: 0 1px 2px 1px rgba(0,0,0,0.25);
box-shadow: 0 1px 2px 1px rgba(0,0,0,0.25);
background-color: #fff;
-webkit-border-radius: 1px;
border-radius: 1px;
padding: 30px 30px 48px 30px;
margin-left: -3.1914895%;
width: 106.382979%;
height: 100%;margin-bottom:20px;float: left;">
    
<div class="aboutcompany" >
<div class="head">Disclaimer and Privacy</div>
<div class="underlinetext">
	<strong>Website disclaimer </strong><br>
The information contained in this website is for general information purposes only. The information is provided by Beacon Learning and while we endeavor to keep the information up to date and correct, we make no representations or warranties of any kind, express or implied, about the completeness, accuracy, reliability, suitability or availability with respect to the website or the information, products, services, or related graphics contained on the website for any purpose. Any reliance you place on such information is therefore strictly at your own risk. 
</div>
<div class="underlinetext">
In no event will we be liable for any loss or damage including without limitation, indirect or consequential loss or damage, or any loss or damage whatsoever arising from loss of data or profits arise out of, or in connection with, the use of this website.
</div>
<div class="underlinetext">
Through this website you are able to link to other websites which are not under the control of Beacon Learning. We have no control over the nature, content and availability of those sites. The inclusion of any links does not necessarily imply a recommendation or endorse the views expressed within them. 
</div>

<div class="underlinetext">
Every effort is made to keep the website up and running smoothly. However, Beacon Learning takes no responsibility for, and will not be liable for, the website being temporarily unavailable due to technical issues beyond our control.
</div>
<div class="underlinetext">
	<strong>Website privacy</strong><br>
This privacy policy sets out how Beacon Learning uses and protects any information that you give Beacon Learning when you use this website.
</div>
<div class="underlinetext" >
 This privacy policy sets out how Beacon Learning uses and protects any information that you give Beacon Learning when you use this website.
 </div>
<div class="underlinetext">
Beacon Learning is committed to ensuring that your privacy is protected. Should we ask you to provide certain information by which you can be identified when using this website, then you can be assured that it will only be used in accordance with this privacy statement.
</div>
<div class="underlinetext">
Beacon Learning may change this policy from time to time by updating this page. You should check this page from time to time to ensure that you are happy with any changes. This policy is effective from 1st July 2013.
</div>

<div class="underlinetext">
	<strong>What we collect</strong><br>
 We may collect the following information:<br>
 <ul style="list-style:disc;">
  <li>name and job title</li>
 <li>contact information including email address</li>
</ul>
</div>

<div class="underlinetext">
<strong>What we do with the information we gather</strong><br>
We require this information to understand your needs and provide you with a better service, and in particular for the following reasons:
  </div>
<div class="underlinetext">
<ul style="list-style:disc;">
  <li>Internal record keeping.</li>
 <li>We may periodically send promotional emails about new products, special offers or other information which we think you may find interesting using the email address which you have provided.</li>
 <li>From time to time, we may also use your information to contact you for market research purposes. We may contact you by email, phone, fax or mail. We may use the information to customise the website according to your interests.
 </li>
</div>
<div class="underlinetext">
<strong>Security</strong><br>
We are committed to ensuring that your information is secure. In order to prevent unauthorized access or disclosure we have put in place suitable physical, electronic and managerial procedures to safeguard and secure the information we collect online.</div>
  <div class="underlinetext">
<strong>Links to other websites</strong><br>
Our website may contain links to other websites of interest. However, once you have used these links to leave our site, you should note that we do not have any control over that other website. Therefore, we cannot be responsible for the protection and privacy of any information which you provide whilst visiting such sites and such sites are not governed by this privacy statement. You should exercise caution and look at the privacy statement applicable to the website in question.
  </div>
  <div class="underlinetext">
<strong>Controlling your personal information</strong><br>
We will not sell, distribute or lease your personal information to third parties unless we have your permission or are required by law to do so. We may use your personal information to send you promotional information about third parties which we think you may find interesting if you tell us that you wish this to happen.
 </div>
  <div class="underlinetext">
You may request details of personal information which we hold about you under the Data Protection Act 1998. A small fee will be payable. If you would like a copy of the information held on you please write to <span style="text-decoration:underline;">portal.admin@beaconlearning.in</span>
 </div>
  <div class="underlinetext">
If you believe that any information we are holding on you is incorrect or incomplete, please write to or email us as soon as possible, at the above address. We will promptly correct any information found to be incorrect.
  </div>
  <div class="underlinetext">
<strong>Contacting Us</strong><br>
If there are any questions regarding this privacy policy you may contact us using the information below:<br>
Beacon Learning Pvt Ltd.<br>
815,Udyog Vihar, Phase V,<br>
(Behind Hotel Trident Oberoi)<br>
Gurgaon - 122015
  </div>
</div>
</div>
</div>
</div>
</div>


