<% provide(:title, 'Terms and Conditions') %>
<% provide(:effectingHeader) %>
<br/><br/>

<div class="row">
  <div class="container">
    <div class="span12" style="margin-left:100px;">
    <div style="-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
-webkit-box-shadow: 0 1px 2px 1px rgba(0,0,0,0.25);
box-shadow: 0 1px 2px 1px rgba(0,0,0,0.25);
background-color: #fff;
-webkit-border-radius: 1px;
border-radius: 1px;
padding: 30px 30px 48px 30px;
margin-left: -3.1914895%;
width: 106.382979%;
height: 100%;margin-bottom:20px;float: left;">
    
<div class="aboutcompany" >
<div class="head">Terms and Conditions</div>
<div class="underlinetext">
Welcome to our website. If you continue to browse and use this website you are agreeing to comply with and be bound by the following terms and conditions of use, which together with our privacy policy govern Beacon Learning's relationship with you in relation to this website.
</div>
<div class="underlinetext">
The term 'Beacon Learning' or 'us' or 'we' refers to the owner of the website whose registered office is
</div>
<div class="underlinetext">
E-65, GROUND FLOOR FRONT,VASANT MARG,<br>
VASANT VIHAR,<br>
NEW DELHI – 110057  
</div>

<div class="underlinetext">
Our company registration number is <strong>U80221DL2009PTC245622</strong> and place of registration is New Delhi. The term 'you' refers to the user or viewer of our website.
</div>
<div class="underlinetext">
The use of this website is subject to the following terms of use:
</div>
<div class="underlinetext" >
  <ul style="list-style:disc;">
  <li>The content of the pages of this website is for your general information and use only. It is subject to change without notice.</li>
  <li>Neither we nor any third parties provide any warranty or guarantee as to the accuracy, timeliness, performance, completeness or suitability of the information and materials found or offered on this website for any particular purpose. You acknowledge that such information and materials may contain inaccuracies or errors and we expressly exclude liability for any such inaccuracies or errors to the fullest extent permitted by law.</li>
   <li>Your use of any information or materials on this website is entirely at your own risk, for which we shall not be liable. It shall be your own responsibility to ensure that any products, services or information available through this website meet your specific requirements.</li>
    <li>This website contains material which is owned by or licensed to us. This material includes, but is not limited to, the design, layout, look, appearance and graphics. Reproduction is prohibited other than in accordance with the copyright notice, which forms part of these terms and conditions.</li>
     <li>All trademarks reproduced in this website which are not the property of, or licensed to, the operator are acknowledged on the website.</li>
      <li>Unauthorized use of this website may give rise to a claim for damages and/or be a criminal offence.</li>
       <li>From time to time this website may also include links to other websites. These links are provided for your convenience to provide further information. They do not signify that we endorse the website(s). We have no responsibility for the content of the linked website(s).</li>
        <li>You may not create a link to this website from another website or document without Beacon Learning's prior written consent.</li>
        <li>Your use of this website and any dispute arising out of such use of the website is subject to the laws of India or other regulatory authority.</li>
</ul>

</div>

<div class="underlinetext">
"We as a merchant shall be under no liability whatsoever in respect of any loss or damage arising directly or indirectly out of the decline of authorization for any Transaction, on Account of the Cardholder having exceeded the preset limit mutually agreed by us with our acquiring bank from time to time"

</div>
<div class="underlinetext">

<strong>Cancellation and Refund</strong>
  </div>

<div class="underlinetext">
  Cancellation<br><br>
We have a liberal cancellation policy that allows you to ensure you are getting value out of any course that you join.<br> Under this policy:
</div>
<div class="underlinetext">
<ul style="list-style:disc;">
  <li>You can cancel your enrolment in any course within 2 weeks of the course start.</li>
 <li>Your fee will be refunded (minus the service tax) via cheque within 14 days of cancellation.</li>

</div>
<div class="underlinetext">
<strong>Refund Policy</strong><br>
When you enroll for any of our courses, your enrollment is covered by our 14-day money-back guarantee. If you are, for any reason, not entirely happy with your purchase, we will cheerfully issue a full refund. Our courses have been taken by thousands of students around the globe and we have received fantastic testimonials and feedback. That is why we can afford to back our courses with this special guarantee. To request a refund, simply contact us at <span style="text-decoration:underline;">portal.admin@beaconlearning.in</span> with your details within fourteen (14) days of your purchase. Please include your details and optionally tell us why you're requesting a refund – we take student feedback very seriously and use it to constantly improve our quality of service. Refunds will be processed within 14 days.
  </div>


</div>
</div>
</div>
</div>
</div>


