<% provide(:title, 'User Reviews') %>
<% provide(:effectingHeader) %>
<br/><br/>
<div class="container movedown">
  <div class="row"  align="center" >
      <div class="span11 " align="center" style="width:80%;margin:0px 143px;">
        <div class="row" style="box-shadow: 3px 3px 10px 5px #333;padding: 15px;">
         <h2>User Reviews</h2>

        <div class="span11" style="min-height:120px;">
         
          <div class="span5">
           
  
            <p style="text-align:justify;padding:10px;">
               "Taking the Great Lakes Analytics Certification has been one the best career decisions. The content had the perfect blend of theory and hands-on exposure. I would recommend it to all who wish to build a career in analytics." 
            </p>
            <div class="testimonialauthor">
              - Mayank,<br/>Analytics Professional
            </div>
         
          </div>

           <div class="span5"> 
     
            <p style="text-align:justify;padding:10px;">
               "I love Beacon for the quality of content and the teaching methodology. The video lectures are very interesting and one can learn at their own pace. Learning becomes so much more enjoyable when you can see the results for yourself."
            </p>
            <div class="testimonialauthor">
              -Kate,<br/>Business Manager
            </div>
          </div>
       
        </div>

          <div class="span11" style="min-height:120px;">
             <div class="span5"> 
      
            <p style="text-align:justify;padding:10px;">
              "Being in sales for five years, I have been negotiating deals for a living. But I must confess, the Negotiations course really blew me off. There was so much to learn - concepts I'd never thought of explained in wonderfully simple and practical ways. I loved the course for it gave me a skill that is so tangible that I use it every day. Thumbs up Beacon ! "
            </p>
            <div class="testimonialauthor">
              - Arun,<br/>Sales Executive
            </div>
          </div>
        
            <div class="span5"> 
                   <p style="text-align:justify;padding:10px;">
              "Taking the Great Lakes Analytics Certification has been one the best career decisions. The content had the perfect blend of theory and hands-on exposure. I would recommend it to all who wish to build a career in analytics." 
            </p>
            <div class="testimonialauthor">
              - Mayank,<br/>Analytics Professional
            </div>
          </div>
        
           
          </div>

             <div class="span11" style="min-height:120px;">
             <div class="span5"> 
      
            <p style="text-align:justify;padding:10px;">
              "I love Beacon for the quality of content and the teaching methodology. The video lectures are very interesting and one can learn at their own pace. Learning becomes so much more enjoyable when you can see the results for yourself."
            </p>
            <div class="testimonialauthor">
              -Kate,<br/>Business Manager
            </div>
          </div>
        
            <div class="span5"> 
                   <p style="text-align:justify;padding:10px;">
              "Being in sales for five years, I have been negotiating deals for a living. But I must confess, the Negotiations course really blew me off. There was so much to learn - concepts I'd never thought of explained in wonderfully simple and practical ways. I loved the course for it gave me a skill that is so tangible that I use it every day. Thumbs up Beacon ! "
            </p>
            <div class="testimonialauthor">
              - Arun,<br/>Sales Executive
            </div>
          </div>
        
           
          </div>

      </div>
      </div>
  </div>
</div>