         <br>
         <% provide(:title, 'A Smarter Way to Learn') %>
         <% provide(:effectingHeader) %>
         <div class="span12" style=" border-radius: 10px;margin-left: 11%;width: 85%;">
         <%= render 'shared/course_header' %>
         <%= render 'shared/courselist' %>
       </div>
     </div>
   </div>
   <div class='apple_pagination' align="center">
    
     <%= will_paginate @courses, :container => false %>
   </div>
 </div>