
<div style="float:left;width:100%">
<%= render 'shared/side_menu' %>
</div>
<div style="margin-top:20px;background: white;border-radius: 5px;padding: 10px;width:1050px;margin-left:155px;">
	<div style="text-align: center;width: 200px;height: 45px;float: left;
line-height: 40px;margin-left: -36px;background-image: url('../assets/ribbonr.jpg');background-size: 200px 100%; color:white;font-weight:bold;">
New Coupon
  </div><%= render :partial => "form" %>
</div>