@media(min--moz-device-pixel-ratio:1.5),(-o-min-device-pixel-ratio:3 / 2),(-webkit-min-device-pixel-ratio:1.5),(min-device-pixel-ratio:1.5),(min-resolution:1.5dppx){body.modal #modal-box.login-box h1{background-image:url('../canvas/arrivu_logo.png?1368597250');background-size:136px 33px}}
#header { 
 /* background: url("../canvas/header_beacon_bg.png?v1") repeat-x scroll center transparent;*/
 background-color: #393939;
background-image: -moz-linear-gradient(top,#484848,#222222);
background-image: -webkit-gradient(linear,0 0,0 100%,from(#484848),to(#222222));
background-image: -webkit-linear-gradient(top,#484848,#222222);
background-image: -o-linear-gradient(top,#484848,#222222);
background-image: linear-gradient(to bottom,#484848,#222222);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00484848', endColorstr='#00212121', GradientType=0);
  /* OR background-image: none; 
  background-color: #EBF5FA;*/
}

/*replace the canvas logo with your logo*/
#header-logo, #header.no-user #header-logo {

 background: url("../canvas/arrivu_logo.png?v1") no-repeat scroll 0 0 transparent;
 background-size: 100% 50px;
  bottom: 11px;
  height: 40px;
  left: 12px;
  width: 160px;
  position: absolute;
  text-indent: -9999px;
  
}


/*if you replace the left canvas logo, move a smaller one to the right side of the header--I made the image gray first*/
#header-logo-secondary {
 display: none;
background: url("../canvas/arrivu_logo.png") no-repeat;
background-size: 100% 50px;
width: 135px;
height: 26px;
right: 26px;
bottom: 6px;
position: absolute;
 
}

#menu { margin-left: 200px; }

/*change the color of the menu items (courses & groups etc.). If the text looks fuzzy, remove the text shadow.*/
.menu-item .menu-item-title, .menu-item .menu-item-no-drop {
  color: #fff;
  text-shadow: none;
}

#header-logo.original, #header.no-user #header-logo.original
{
  bottom: 12px
}
#header-inner
{
  padding-top: 26px;
  /*max-width: $max_main_width;*/
  position: relative;
}
/*change the identity bar (the area that says "Hilary Scharton Inbox Settings Logout Help)*/
#identity {
  margin: 0;
padding: 0;
list-style: none;
float: right;
font-size: 12px;
margin-right: 13px;
margin-bottom: 4px;
padding: 0 11px;
/*background: transparent url("../canvas/top_bar_beacon_bg.png") repeat-x;*/
background: #e4e5e7;
box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 1px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 5px;
border: 1px solid rgba(0, 0, 0, 0.3);
border-top: 0;
}

body.modal #modal-box.login-box
{
}
body.modal #modal-box
{background-color: #393939 !important;
background-image: -moz-linear-gradient(top, #484848, #222);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#484848), to(#222));
background-image: -webkit-linear-gradient(top, #484848, #222);
background-image: -o-linear-gradient(top, #484848, #222);
background-image: linear-gradient(to bottom, #484848, #222);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00484848', endColorstr='#00212121', GradientType=0);
}

#modal-box.login-box {background-color: #393939 !important;
background-image: -moz-linear-gradient(top, #484848, #222);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#484848), to(#222));
background-image: -webkit-linear-gradient(top, #484848, #222);
background-image: -o-linear-gradient(top, #484848, #222);
background-image: linear-gradient(to bottom, #484848, #222);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00484848', endColorstr='#00212121', GradientType=0);}
/*this will remove the extra canvas logo*/
/*body.modal #modal-box.login-box h1 {
background: none;
height: 235px;
}*/
/*resize the login box to fit my image and change the color of 'stay signed in'*/
body.modal #modal-box.login-box {
height: 435px;
width: 610px;
color: #2784A0;
background-color: #393939 !important;
background-image: -moz-linear-gradient(top, #484848, #222);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#484848), to(#222));
background-image: -webkit-linear-gradient(top, #484848, #222);
background-image: -o-linear-gradient(top, #484848, #222);
background-image: linear-gradient(to bottom, #484848, #222);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00484848', endColorstr='#00212121', GradientType=0);}
/*change the color of 'don't know your password'*/
body.modal #modal-box.login-box a { color: #fff !important; }
body.modal #modal-box.login-box{ color: #fff !important; }
/*change the color of the login button*/
body.modal #modal-box .button, body.modal #login-box .button {
background-color: #e44530 !important;
background-image: none !important;
border-color: #2a488e;
}
#login_form .btn-primary, #login_form .btn-primary:hover {
background-color: #e4e5e7;
background-image: none;
color:#000;
border: none !important;
}
body.modal #modal-box.login-box h1, body.modal #modal-box.login-box .h1 {
height: 107px;
margin: 0 0 105px;
background-color: transparent;
background-image: url('../canvas/arrivu_logo.png?v1');
background-repeat: no-repeat;
background-position: 68px 46px;
text-indent: -999em;
}
body.modal #modal-box.login-box h2, body.modal #modal-box.login-box .h2
{
      background: transparent url('../canvas/arrivu_logo.png') right 6px no-repeat;
      margin: 0 20px;
      padding: 5px 230px 0 0;
      min-height: 35px;
 }


#identity .logout {cursor: pointer;} 
#identity a{color:#000;}
#identity .logout:hover{text-decoration: underline;}



body.modal #modal-box h2{background:transparent url('../canvas/arrivu_logo.png?1368597250') right 6px no-repeat;margin:0 20px;padding:5px 230px 0 0;min-height:35px}

  #f1_container {
      position: relative;
      margin: 0 auto;
      padding: 110px 0;
      width: 300px;
      height: 198px;
      z-index: 1;
      background-image: url("../canvas/arrivu_logo.png?1");
      background-position: center 30px;
      background-repeat: no-repeat;
      background-size: 270px 48px;
    }
