<div class="coursereviews">
  <div class="container">
    <div class="row">
      <div align="center">
        <h3><%=@course.comments.size%> Reviews</h3>
        <br/>
      </div>
    </div>
    <%= render "comments" %>
    <div class="container clearfix"></div>
  </div>
  <div class='apple_pagination' >
   <%= will_paginate @comments, :container => false %>
 </div>
 <div class="container clearfix"></div>
 <div class="row">
  <div align="center">
    <div >
      <%= link_to "Add Reveiw",new_comment_path(:commentable=>@course,:commentable_type=>"course"), :locals => {:commentable => @course},class:"browsemore" %>
    </div>
  </div>
</div>
</div>