<div class="container courseclub" style="padding: 0px 25px;margin-bottom: 50px;
" >
  <div class="row">
    
    
    <div class="span7">
      <div class="courses">
                 <article class="course path-100" data-connection="18 20" data-tag="ruby-basics" id="course-6">
          <div class="card-a1 course-inner">
            <div class="course-progress" data-width="0%" style="width: 0%;"></div>
            
            <img src="assets/marketing1.jpg" width="130" height="130" class="course-badge img-circle">
                           
            <div class="course-content">
              <em class="label-a label-offset" style="background-color:#990000" rel="tooltip" data-original-title="Orientation courses are entry-level courses in each of our Paths."> <b>Marketing</b></em>
            
              <!-- <em class="label-b">Free Course</em> -->

              <a href="http://pgcsm.beaconlearning.in/" target="_self"><h3 class="course-name">PGCSM
</h3>         <p class="course-desc">Certification Program in Sales and Marketing</p>
             </a></div>

            </div>
          </article>
        </div>

      </div>

          <div class="span7">
      <div class="courses">
                 <article class="course path-100" data-connection="18 20" data-tag="ruby-basics" id="course-6">
          <div class="card-a1 course-inner">
            <div class="course-progress" data-width="0%" style="width: 0%;"></div>
            
            <img src="assets/dreamstime.jpg" width="130" height="130" class="course-badge img-circle">
                           <div class="coming_soon"><%= image_tag("coming_soon.png",:size=>"80x80" ) %></div>
            <div class="course-content">
              <em class="label-a label-offset" style="background-color:#009966" rel="tooltip" data-original-title="Orientation courses are entry-level courses in each of our Paths."> <b>Analytics</b></em>
            
              <!-- <em class="label-b">Free Course</em> -->

          <a href="/pgpba" > <h3 class="course-name">PGPBA</h3>
              <p class="course-desc">Certification Program in Business Analytics</p></a>
             </div>

            </div>
          </article>
        </div>

      </div>
     
      
    </div>
  </div>
  