<!-- <div class="ourknowledgepartners secondary-content">
  <div class="container" align="center">
   <div class="row testimonial">
      <h2 style="color: #757474;">Featured In</h2>

      <div class="listofkp" >
        <img src="assets/featured.png" />
      </div>

    </div>
  </div>
</div> -->