<div class="homebanner" >
    <div class="container" style="width: 100%;">
        <div class="row">
<div style="background:#fab619;height:85px;width:100%;margin-top:-5px;text-align:center;line-height:55px;font-size:32px;">
         <h1 style="font-size: 40px;line-height: 60px;font-weight: normal;">  Post Graduate Certificate in Business Analytics</h1>
          </div>
          <div class="span12" id="slider" style="width: 100%;">
            <!-- Top part of the slider -->
            <div class="row">
              <div class="" id="carousel-bounding-box">
                <div id="myCarousel" class="carousel slide">
                  <!-- Carousel items -->
                  <div class="carousel-inner">
                    <div class="active item" data-slide-number="0">      <div class="row">
                    
                      <div class="clearfix"></div>
                      <div class="span12" align="center" style="background-image:url(../assets/slider1.png);background-repeat:no-repeat;background-size:100% 100%;color:white;width:100%;height: 300px;">
                      <div class="span6" align="center" style="margin-top: 40px;margin-left: 160px;">
                                       <div class="bannervideo" >
                          <iframe class="video-me" src="http://player.vimeo.com/video/27244727?title=1&amp;byline=1&amp;portrait=1&amp;color=ffffff" width="420" height="230" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                        </div></div>
                        <div class="span5" style="padding: 40px 325px 0px 0px;float: right;">
                         <div class="bannertext">
                        <h3 style="color:white;text-align:left;">PGPBA</h3>
                        </div>
                        <div class="bannerinfo">
                          <p style="font-size:21px;">Academic courses, certifications and curated wisdom from the finest academicians to make your learning seamless, progressive and impactful. <br>
                            
                           </p><a href="" style="text-decoration:underline;color:white;">learnmore</a>
                        </div></div>
                                             
                      <div class="span4" align="justify">
                        

                        <div class="bannervideo" >
                         <!--  <iframe class="video-me" src="http://player.vimeo.com/video/27244727?title=1&amp;byline=1&amp;portrait=1&amp;color=ffffff" width="350" height="230" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> -->
                        </div>
                      </div>
                       </div>
                      <div class="clearfix"></div>
                    </div></div>
                    <div class="item" data-slide-number="1"><div class="row">
                      
                        
                      
                      <div class="clearfix"></div>
                      <div class="span12" align="center"  style="background-image:url(../assets/slider2.png);background-repeat:no-repeat;background-size:100% 100%;color:black;width:100%;height: 300px;">
 <div class="span4" align="justify">
<!--                        
<div class="bannervideo" >
                          <img src="assets/GREAT LAKES LOGO.jpg" width="250" height="160"/>
                        </div> -->
                      </div>
                      <div class="span6" align="center" style="padding: 40px 325px 0px 0px;float: right;"  >
                            <div class="bannertext">
                        <h3 style="color:white;text-align:left;">Enroll and Get Enlightened</h3>
                        </div>
                        <div class="bannerinfo">
                          <p style="font-size:21px;color:white;">This is a unique certification program Academic courses, certifications and curated wisdom from the finest academicians to make your learning seamless, progressive and impactful.
                           </p> <br><br><a href="/pgpba/application"><button class="btn btn-large btn-default"> Apply Now</button></a>
                        </div>
                        </div>
                      </div>
                      <div class="span4" align="justify">
<!--                        
<div class="bannervideo" >
                          <img src="assets/GREAT LAKES LOGO.jpg" width="250" height="160"/>
                        </div> -->
                      </div>
                      <div class="clearfix"></div>
                    </div></div>

                     <div class="item" data-slide-number="2"><div class="row">
                      
                        
                      
                      <div class="clearfix"></div>
                      <div class="span12" align="center"  style="background-image:url(../assets/slider3.png);background-repeat:no-repeat;background-size:100% 100%;color:black;width:100%;height: 300px;">
                      
                        <div class="span4" align="justify">
<!--                        
<div class="bannervideo" >
                          <img src="assets/GREAT LAKES LOGO.jpg" width="250" height="160"/>
                        </div> -->
                      </div>
                      <div class="span5" align="center" style="padding: 40px 325px 0px 0px;float: right;" >
                          <div class="bannertext">
                        <h3 style="color:white;text-align:left;">Indstry Partners</h3>
                        </div>
                        <div class="bannerinfo">
                          <p style="font-size:21px;color:white;">This is a unique certification program Academic courses, certifications and curated wisdom from the finest academicians to make your learning seamless, progressive and impactful.
                           </p><a href="" style="text-decoration:underline;color:white;">learnmore</a>
                        </div>


                        <div class="bannerlearn" style="color:#000;">
                          
                             



                        </div>
                        </div>
                      </div>
                      <div class="span4" align="justify">
<!--                        
<div class="bannervideo" >
                          <img src="assets/GREAT LAKES LOGO.jpg" width="250" height="160"/>
                        </div> -->
                      </div>
                      <div class="clearfix"></div>
                    </div></div>


                  </div>

                </div>
              </div>
              <div class="span4" id="carousel-text"></div>

            </div>

          </div>

        </div> <!--/Slider-->
      <div class="carousel-nav">
        <a href="#" data-to="0" class="active">1</a>
        <a href="#" data-to="1">2</a>
        <a href="#" data-to="2">3</a>
      </div>


    </div>


     

    </div>



<div class="coursesyllabus">
<div style="width:100%;background:#333;margin-left:-10px;height:45px;padding: 0px 10px;margin-top:-11px;" ><ul class="nav nav-tabs1" id="myTab" style="width: 75%;margin:0px auto;">
  <li class="active"><a href="#home1">OVERVIEW</a></li>
  <li><a href="#profile1">ABOUT PROGRAM</a></li>
  <li><a href="#messages1">ADMISSIONS</a></li>
</ul></div>
  <div class="container" >
      <div class="row">
       <div class="span12" >
      <div class="tab-content" style="width: 85%;
padding: 0px;
float: left;">
  <div class="tab-pane active" id="home1">
    <div class="" style="width:100%">
    <div class="tabbable tabs-left" > 
    <div  style="margin-top: 40px;float: left;width: 25%;margin-right: 0px; 10px;height: 625px;
background: url('assets/greybandcopy.png');background-position-x: 185px;">
<ul class="nav nav-tabs2" id="myTab1" style="">
  <li class="active"><a href="#home">Analytics –The Opportunity</a></li>
  <li><a href="#messages">Why PGPBA</a></li>
  
  <li class="tab-pane"><a href="#Partners">Program Partners</a></li>
</ul></div>

<div class="tab-content" style="width: 75%;float: left;padding-top: 30px;">
  <div class="tab-pane active" id="home">
<div class="aboutcompany">
    <div class="underlinetext" style="text-align:center;">
      <img src="assets/Analytics Infographic.jpg" ><br>
<P style="float: left;padding: 20px 15px;width: 98%;text-align: justify;">Analytics is the next big global opportunity and is witnessing an acute shortage of skilled talent. With leading Indian and global companies scouting for talent, a combination of business management and analytical training can propel a candidate to managerial and leadership roles in the analytics industry.  </p></div>
</div></div>
  <div class="tab-pane" id="messages" style="padding:20px;">
<div class="underlinetext">
    <h4>Why PGPBA?</h4>
    <P style="float: left;padding: 20px 15px;width: 98%;text-align: justify;">
    The Great Lakes Post Graduate Program in Business Analytics is designed for executives who want to build their careers in the analytics industry. The program covers essentials of business management, deep dives into the study of business analytics and provides hands on training on analytical tools and technologies that are used by companies worldwide. The active industry exposure in terms of case studies and lectures by analytics leaders from various organizations evolves the participants into highly skilled and industry ready analytics professionals. </p>
    <p style="text-align:center;"><a href="#profile1" style="font-size:22px;font-weight:bold;">What are the benefits of doing this program</a></p>
</div></div>
 <div class="tab-pane" id="Partners" style="padding:20px;">
<div class="underlinetext">
   <h4>Program Partners</h4>
    <h5 style="text-decoration:underline;">Academic Partner</h5>
<P style="float: left;padding: 20px 15px;width: 98%;text-align: justify;"><img src="assets/GREAT LAKES LOGO.jpg">Great Lakes Institute has adapted the best features of the American management education adapted to the Asian values and ethos. With the commitment and focus as enunciated here, their objective is to offer world-class program, designed to help each student realize his or her full potential.</p></div>
<div class="underlinetext">
  <h5 style="text-decoration:underline;">Online Content Partner</h5>
<P style="float: left;padding: 20px 15px;width: 98%;text-align: justify;"><img src="assets/jigsaw.png">Jigsaw academy is the brainchild of Gaurav Vohra and Sarita Digumarti who together have over 20 years of experience in the analytics industry. They have partnered with Priya Gupte who brings marketing expertise to the table. All three have worked in varied industries, across multiple roles and have vastly differing experience, yet together they formed the jigsaw. The common thread across the three is that they believe that the analytics industry is poised to take-off and that Jigsaw Academy can play a crucial role by identifying and nurturing analytic talent in India.</p></div>
  <div class="underlinetext">
  <h5 style="text-decoration:underline;">Corporate Partners</h5>
<table class="table">
  <tr><td><img src="assets/accenture_logo.png" width="175" height="70"></td><td><img src="assets/evalue_logo.png" width="175" height="70"></td></tr>
<tr><td><img src="assets/hp_logo.png" width="170" height="115"></td><td><img src="assets/bridge_logo.png" width="175" height="70"></td></tr>
</table></div></div>
</div>
</div>
</div>
</div>
<div class="tab-pane" id="profile1">
 <div class="span10">
    <div class="tabbable tabs-left" > 
    <div  style="margin-top: 40px;float: left;width: 25%;margin-right: 0px; 10px;float: left;
height: 760px;
background: url('assets/greybandcopy.png');background-position-x: 185px;">
<ul class="nav nav-tabs2" id="myTab1" style="">
  <li class="active"><a href="#Details">Program Details</a></li>
  <li class="tab-pane"><a href="#Benefits">Program Benefits</a></li>
  <li class="tab-pane"><a href="#Curriculum">Curriculum</a></li>
  <li class="tab-pane"><a href="#Faculty"> Faculty</a></li>
  <li class="tab-pane"><a href="#Calendar">Calendar</a></li>
  <li class="tab-pane"><a href="#Pedagogy">Pedagogy</a></li>
  <li><a href="#partners">Corporate Partners</a></li>
</ul></div>

<div class="tab-content" style="width: 75%;float: left;padding-top: 30px;">
  <div class="tab-pane active" id="Details">
<div class="aboutcompany">
    <div class="underlinetext" style="text-align:center;">
     <div class="underlinetext">
    <h4>Program Details</h4>
    <P style="float: left;padding: 20px 15px;width: 98%;text-align: justify;">The PGP-BA program is designed with a learning methodology that is comprehensive in content and impactful in outcome. The format of the program combines the best of classroom sessions and technology aided learning in terms of recorded lectures and live webinars.</p>
</div>
<div class="underlinetext">
  
<ul>
  <li>The program duration is 11 months, with the participants spending 5 days (including weekend) every alternate month on campus.
</li>
  <li> Between successive contact sessions, participants would take online classes and access other learning material (assignments, readings, recordings, hands on SAS lab exercises, etc) using an online learning management system.</li>
  <li>In terms of number of hours, the program would be spread across 240 hours of classroom sessions and about 150 hours of online learning (using recordings, webinars, virtual lab, assignments and project).</li>
</ul>
</div>

   </div>
</div></div>
  <div class="tab-pane" id="Benefits" style="padding:20px;">
<div class="underlinetext">
    <h2>Program Benefits</h2>
   <img src="assets/Benefits-Infographic.jpg">
</div>
</div>
 <div class="tab-pane" id="Curriculum" style="padding:20px;">
<div class="underlinetext">
    <h4>Curriculum</h4>
   <P style="float: left;padding: 10px 15px;width: 98%;text-align: justify;"> The curriculum of the program is designed to expose the candidates to foundations of business management and deep skills in analytics. The curriculum entails exhaustive coverage of academic concepts blended with rich industry exposure and hands on training on the requisite skills and technologies needed for the Analytics sector.</p>
</div>
<div class="underlinetext">
   <P style="float: left;padding: 10px 15px;width: 98%;text-align: justify;">The courses are a judicious mix of domain knowledge, quantitative subjects, technical skills and applications. The first few modules of the program will focus on the domain competency along with exposure to rigors of the analytical tools and techniques. Subsequently, the participants will be given expertise in handling large data sets in terms of processing, managing, analyzing and representing them in a format that makes Business decisions easy. The latter portion of the curriculum focuses on specific problems encountered in domains such as Finance, marketing, Web, Health, Energy, Telecom etc, and candidates will learn the Business Analytics approaches to solve these problems. </p>
</div>
<div class="underlinetext">
   <P style="float: left;padding: 10px 15px;width: 98%;text-align: justify;">Hands on exposure: Every module will entail practical assignments that complement the conceptual learning that the candidates would have gathered. These assignments will expose the candidates to solving real world business problems using tools such as SAS, R, Tableau, etc.</p>
</div>
<div class="underlinetext">
   <P style="float: left;padding: 10px 15px;width: 98%;text-align: justify;">Industry project is a critical component of the curriculum wherein every candidate will work on an actual industry case study. This project will act as an industry application of the learning derived from the course and will need to be presented to the faculty board for successful completion of the course. </p></div>
<div class="underlinetext">
   <h4>Tools and Technologies covered: <br>
SAS, Tableau, R.</h4>

<table class="table table-bordered table-striped">
<tr><td>Module</td><td>Topics</td></tr>
<tr><td>Module 1</td><td>Financial Statement Analysis</br>Marketing and CRM</td></tr>
<tr><td>Module 2</td><td>Data analysis and Statistics in Decision Making<br>Supply chain and Logistics management<br>Introduction to SAS</td></tr>
<tr><td>Module 3</td><td>Advance Statistics<br>Digital commerce<br>Data management, Exploration is Business analytics using SAS</td></tr>
<tr><td>Module 4</td><td>Predictive analytics<br>Data mining and visualization<br>Modeling using SAS</td></tr>
<tr><td>Module 5</td><td>Optimization techniques<br>Credit risk, fraud and other financial analytics<br>Marketing and retail analytics<br>Web and social media analytics<br>Supply chain and logistics analytics</td></tr>
<tr><td>Module 6</td><td>Health analytics<br>Energy analytics<br>Telecom analytics<br>Insurance analytics<br>Project presentation</td></tr>
</table>
</div>

</div>
 <div class="tab-pane" id="Faculty" style="padding:20px;">
<div class="underlinetext">
     <h4>Faculty</h4>
    The faculty pool of the program consists of leading academicians in the area of business analytics along with experienced industry practitioners from the leading analytics organizations. The blended academia-industry pedagogy would ensure that the candidates acquire conceptual understanding and industry relevant skills from the program.

<h4>Dr Bappaditya Mukhopadyay </h4>
Professor, Great Lakes Institute of Management | Ph D (Indian Statistical Institute) <br><br>
Professor Mukhopadhyay is currently Professor in Finance and Economics. He is also a Visiting Professor, University of Ulm, Germany , SP Jain Centre for Management, Singapore and Dubai and IIM Kolkata. He is also the Managing Editor, Journal of Emerging Market Finance, Journal of Infrastructure and Development and on the Editorial Advisory Board of  International Research Journal of Finance and Economics, International Bulletin of Business Administration,  European. Journal of Economics, Finance and Administrative Sciences andInternational Journal of Applied Economics and Finance. He has published over 15 articles in peer reviewed journals. He is currently authoring a book on Credit Risk Management. He is also a Special Invitee on Board for Risk Management Committee, Punjab National Bank, Member  Index Committee, NCDEX, Advisory Board Member, Asia Pacific Association of Derivatives (APAD). Member, Research Advisory Committee,  Research Advisory Committee, NICR, Special Invitee on Board for Risk Management Committee, IFCI.

<h4>Dr Himadri Das</h4>
Professor, Great Lakes Institute of Management | Ph D (University of Virginia), B Tech (IIT Delhi) <br><br>
Dr Das is currently the Director of Great Lakes Institute of Management, Gurgaon. Dr. Himadri Das has B.Tech and MBA degrees from IIT Delhi and MS and Ph.D degrees from University of Virginia. He was associated with IMI, Delhi for 11 years as a Professor of Finance and Information Systems and did serve in variety of academic leadership positions latest being Dean (Academic Programs). He regularly teaches in business schools internationally as well and has undertaken substantial research and consulting projects. 
 
<h4>Dr S Bharadwaj</h4>
Professor, Great Lakes Institute of Management | Ph D (University of Maryland) <br><br>
S. Bharadhwaj is currently Dr. Bala V. Balachandran & Vasantha Balachandran Chair Professor of Marketing. Prior to joining Great Lakes, he worked at Department of Management Studies, IIT Madras and Nanyang Business School, Singapore. His main research interests are in the areas of Variety Seeking Behavior, Impulse Buying Behavior and the effect of other marketing variables and phenomena on these behaviors. His secondary research interests are in Search Behavior and Integrated Marketing Communications. His work appears in leading journals such as the Journal of Business Research, Journal of Marketing Management, European Journal of Marketing, Journal of Retailing and Consumer Services, and Journal of International Consumer Marketing. He teaches Marketing Research and Consumer Behavior. Dr. S. Bharadhwaj holds a PhD in Marketing from the Robert Smith School of Business, University of Maryland, College Park, USA. He has an MBA from BIM, Trichy and a BSc in Chemistry from Vivekananda College, Chennai.
 
<h4>Dr P K Vishwanathan </h4>
Professor, Great Lakes Institute of Management | Ph D  <br><br>
Dr. P. K. Viswanathan is currently a Professor in the area of Operations at Great Lakes Institute of Management. Apart from executing corporate consultancy assignments, he has designed and conducted training programs for many leading organizations in India. After completing his Masters from Madras University, he went on to do an MBA from FMS, Delhi and MS from Manitoba, Canada. He holds a PhD from Madras University.

<h4>Dr Tapan Panda </h4>
Professor, Great Lakes Institute of Management | Ph D, MBA <br><br>
Dr Panda has completed his PhD in Business Administration in the area of Branding and holds a Master in Business Administration. He worked at Indian institute of Management at Lucknow, Kozhikode and Indore as a full time faculty member. He also officiated as Director at Indian Institute Of Management Indore before joining Everonn Education Limited ( a BSE and NSE listed company) as its President ( Marketing and Corporate Affairs). He has more than twenty years of academic experience in the area of marketing, branding and customer relationship management. Dr Panda is a regular contributor to business newspapers and magazines and participated in television program\'s in CNBC, Zee Business and is a recipient of the Dewang Mehta Memorial Award as Best Marketing Faculty in  the year 2011. 
<h4>Dr Vaidy Jayaraman </h4>
Dr Jayaraman is an Associate Professor of Operations and Supply Chain Management at the School of Business Administration, University of Miami, Coral Gables, Florida.  Prior to joining the University of Miami, he was an Assistant Professor of Operations and Supply Chain Management at the School of Business Administration, Washington State University as well as an Assistant Professor of Operations and Supply Chain Management at the School of Business Administration, University of Southern Mississippi.  He received his bachelor’s degree in Applied Mathematics and Computer Science from University of Madras and his Master’s degree in Applied Mathematics and Computer Science from Anna University, Chennai, India.  He also received his M.S in Mathematical Sciences and his M.B.A. in Management/Information Systems fromUniversity of Akron, Ohio and his M.S. in Operations Research and his Ph.D. in Operations and Supply Chain Management from The Ohio State University, Columbus, Ohio.  
<h4>Industry faculty</h4>
Senior executives and practitioners who have worked with leading organizations that successfully use analytics such as American Express, Accenture, Evalueserve, Genpact, GE, Capital One, Symphony, Mu Sigma, Absolut Data, etc.
</div>
 </div>
 <div class="tab-pane" id="Calendar" style="padding:20px;">
<div class="underlinetext">
     <h4>Calendar</h4>

<table class="table table-striped table-bordered">
<thead><th>Month</th><th> Location</th><th>  Description</th></thead>
<tr><td>Nov-13 </td><td> Great Lakes, Gurgaon Campus </td><td>Registration & Inaugration</td></tr>
<tr><td>Nov-13  </td><td>Great Lakes, Gurgaon Campus </td><td>Classroom Sessions for 5 days</td></tr>
<tr><td>Dec-13 </td><td> Online Session </td><td> Online Lectures and Assignments </td></tr>
<tr><td>Jan-14</td><td>  Great Lakes, Gurgaon Campus</td><td> Classroom Sessions for 5 days</td></tr>
<tr><td>Feb-14 </td><td> Online Session  </td><td>Online Lectures and Assignments </td></tr>
<tr><td>Mar-14 </td><td> Great Lakes, Gurgaon Campus </td><td>Classroom Sessions for 5 days</td></tr>
<tr><td>Apr-14 </td><td> Online Session</td><td>  Online Lectures and Assignments </td></tr>
<tr><td>May-14 </td><td> Great Lakes, Gurgaon Campus</td><td> Classroom Sessions for 5 days</td></tr>
<tr><td>Jun-14  </td><td>Online Session</td><td>  Online Lectures and Assignments </td></tr>
<tr><td>Jul-14 </td><td> Great Lakes, Gurgaon Campus</td><td> Classroom Sessions for 5 days</td></tr>
<tr><td>Aug-14 </td><td> Online Session  </td><td>Online Lectures and Assignments </td></tr>
<tr><td>Sep-14 </td><td> Great Lakes, Gurgaon Campus</td><td> Classroom Sessions for 5 days</td></tr>
<tr><td>Sep-14 </td><td> Great Lakes, Gurgaon Campus</td><td> Graduation </td></tr>
<tr><td>Classroom Hours</td><td colspan="2">  240 </td></tr>
<tr><td>Online Hours </td><td colspan="2">  250*  </td></tr>
<tr><td colspan="3">* Including online lecures assignments,quizzes,lab sessions,etc.   </td></tr> 
</table>

    
</div> </div>
 <div class="tab-pane" id="Pedagogy" style="padding:20px;">
<div class="underlinetext">
     <h2>Pedagogy</h2>
  <h4>  Classroom learning</h4>
<P style="float: left;padding: 20px 15px;width: 98%;text-align: justify;">The classroom sessions would adopt a case study approach to develop conceptual learning of management and analytics. In similar vein as the full time programs, the candidates would be required to cover their pre-readings and other associated learning material to be well prepared for these sessions. <br>
 
<h4>Online Learning Management System (LMS)</h4>
The online LMS would be used to host content and live webinars that will enable the candidates to continue their learning while not on campus. In addition to providing an enriching learning environment, the LMS would also encourage collaborative learning between the candidates.
 <br>
<h4>Virtual Lab</h4>
The virtual lab is a simulation environment that would be used by candidates for practicing exercises and assignments on tools such as SAS. The exposure on virtual lab would help candidates acquire hands on experience of analytical skills and techniques that are valued in the industry.
 <br>
<h4>Industry Lectures</h4>
Industry Lectures are a key aspect of the program as they complement the learning in class by actual case studies from the industry discussed by senior executives from leading analytics companies. 
 <br>
<h4>Industry Project</h4>
The Industry project would be a live project done in conjunction with a company, which will be performed under the guidance of a faculty from Great Lakes. This will be an individual project and will be presented to the faculty board for successful completion of the program.
 </p>

</div> </div>


 <div class="tab-pane" id="partners" style="padding:20px;">
<div class="underlinetext">
     <h4>Corporate Partners</h4>
     <P style="float: left;padding: 20px 15px;width: 98%;text-align: justify;">The Post Graduate Program in Business Analytics offered by Great Lakes is conceived, and delivered in collaboration with the following Corporate Partners:</p><br>
          <table class="table">
  <tr><td><img src="assets/accenture_logo.png" width="175" height="70"></td><td><img src="assets/evalue_logo.png" width="175" height="70"></td></tr>
<tr><td><img src="assets/hp_logo.png" width="170" height="115"></td><td><img src="assets/bridge_logo.png" width="175" height="70"></td></tr>
</table>
</div></div>

</div>
</div>
</div>

  </div>
  <div class="tab-pane" id="messages1">
 <div class="span10">
    <div class="tabbable tabs-left" > 
    <div  style="margin-top: 40px;float: left;width: 25%;margin-right: 0px; 10px;height: 625px;
background: url('assets/greybandcopy.png');background-position-x: 185px;">
<ul class="nav nav-tabs2" id="myTab1" style="">
   <li class="active"><a href="#Overview">Overview</a></li>
  <li ><a href="#Fees">Eligibility & Fees</a></li>
  <li><a href="#Process">Admission Process</a></li>
  <li><a href="#Deadlines">Deadlines</a></li>
  <li><a href="#sponsor">Sponsor an employee</a></li>
  </ul><ul class="nav nav-tabs2" style="">
<li style="margin-top: -20px;"><a href="/pgpba/application" >Apply Now</a></li></ul>
</div>

<div class="tab-content active" style="width: 75%;float: left;padding-top: 30px;">
   <div class="tab-pane active" id="Overview">
     <div class="underlinetext" >
      <img src="assets/Admissions Infographic.jpg">
     </div>
   </div>
  <div class="tab-pane " id="Fees">
<div class="aboutcompany">
    <div class="underlinetext" >
      <h2>Eligibilty & Fees</h2>
 <table class="table table-bordered table-striped"><thead style="background: #8F8888;"><tr><th>Issue of application starts from</th>
  <th>Last date of submission for first cycle</th> </tr></thead>
  <tbody>
    <tr><td>9th September 2013</td><td>22nd September 2013</td></tr>
  </tbody></table>
Candidates meeting the following conditions are eligible for pursuing the PGP-BA program:<br>
<ul>
<li>Work Experience: Minimum two years of experience at the time of submitting the application
</li><li>Education: Should at least have Bachelor’s degree in engineering or other relevant graduation such as Mathematics, Statistics, Science, etc.</li></ul>
<br>
The fee for the program is Rs 3,00,000 inclusive of Service Tax and includes the following:<br>
<ul><li>
Admission Fee</li><li>
Tuition Fee</li><li>
Learning Material</li><li>
Lunch during days of classes
</li></ul>

    </div>
</div></div>
  <div class="tab-pane" id="Process" style="padding:20px;">
<div class="underlinetext">
    <h4>Admission Process </h4>
<ul>
<li>The admission committee would shortlist candidates based on the profile and application forms
</li>
<li>The shortlisted candidates would then be called for interviews. Interviews may be conducted in person or over video/tele-conferencing.
</li>
<li>The admissions will be conducted on a rolling basis and the admission process shall be closed once the requisite number of candidates have taken admission into the program.</li>
</ul>
</div>
</div>
 <div class="tab-pane" id="Deadlines" style="padding:20px;">
<div class="underlinetext">
     <h4>Deadlines</h4>
     <table class="table table-bordered table-striped"><thead style="background: #8F8888;"><tr><th>Event</th>
  <th>Deadline</th></tr></thead>
  <tbody>
    <tr><td>Last Date for Receiving Application</td><td>28 August, 2013</td></tr>
  <tr><td>Online Test</td><td>02 September, 2013</td></tr>
<tr><td>Addmission Process</td><td>10 September, 2013</td></tr>
<tr><td>Final list of Selected Candidates</td><td>20 September, 2013</td></tr>
<tr><td>Commencement of Program</td><td>18 October, 2013</td></tr>
</tbody></table>
</div></div>
 <div class="tab-pane" id="sponsor" style="padding:20px;">
<div class="underlinetext">
  <h2>Sponsor an employee</h2>
      <P style="float: left;padding: 20px 15px;width: 98%;text-align: justify;">
        The Employer Sponsorship Program allows a corporate to work along with outstanding employees in grooming them for senior management positions within the company. For employers, it is a chance to finance world-class education for talented employees while encouraging them to stay and grow with the company. Employers value what the employees bring back to their organizations and are willing to sponsor them as they know that the strategies and insights, which their employees learn will be put to best use at the work place. 
            </p>
</div></div>
</div>
</div>
</div>
  </div>
 </div>

        <div class="" style="width:14%;float:right;">
  <div class="left" style="margin-top: 40px;margin-left: 10px;padding-left: 10px;float: left;
height: 760px;
background: url('assets/greyband1.png');"><table cellpadding="5" style="margin-bottom:20px;"><tr><td><img src="../assets/apply.png"></td><td><h4><a href="/pgpba/application" class="hover" >Apply Now</a></h4></td></tr></table>
    <!-- <table cellpadding="5" style="margin-bottom:20px;"><tr><td><img src="../assets/dwnld.png"></td><td><h4><a href="" class="hover">Download<br> Brochure</a></h4></td></tr></table> -->
<table cellpadding="5" style="margin-bottom:20px;" ><thead><a href="#certifiedpopupmodal" role="button" data-toggle="modal"><h4>Program Overview</h4></a></thead><tr><td><img src="../assets/benifits.png"></td><td> Learn more about the PGPBA program through an INFOGRAPHIC</td></tr></table>
<table cellpadding="5" style="margin-bottom:20px;"><thead><h4>Contact Us</h4></thead><tr><td><img src="../assets/contact.png"></td><td><b>E:</b>info@beaconlearning.in<br><b>T:</b>0124-4934024</td></tr></table>
<!-- <table cellpadding="5" ><thead><h4>FAQs</h4></thead><tr><td><img src="../assets/faq.png"></td><td>the technology and content platform at Beacon Learning.</td></tr></table> -->
  </div></div>
</div></div></div>
<script>
$('#myTab a').click(function (e) {
  e.preventDefault();
  $(this).tab('show');
})
$('#myTab1 a').click(function (e) {
  e.preventDefault();
  $(this).tab('show');
})
</script>
     