<div class="homebanner" >
    <div class="container" style="width: 100%;">
        <div class="row">
<div style="background:#fab619;height:85px;width:100%;margin-top:-5px;text-align:center;line-height:55px;font-size:32px;">
         <h1 style="font-size: 40px;line-height: 60px;font-weight: normal;">  Post Graduate Programme in Business Analytics</h1>
          </div>
          <div class="span12" id="slider" style="width: 100%;">
            <!-- Top part of the slider -->
            <div class="row">
              <div class="" id="carousel-bounding-box">
                <div id="myCarousel" class="carousel slide">
                  <!-- Carousel items -->
                  <div class="carousel-inner">
                    <div class="active item" data-slide-number="0">      <div class="row">
                    
                      <div class="clearfix"></div>
                      <div class="span12" align="center" style="background-image:url(../assets/slider-1.png);background-repeat:no-repeat;background-size:100% 100%;color:white;width:100%;height: 300px;">
                      <div class="span12" style="width: 70%;margin: 0px 10%;">
                      <div class="span4" align="center" style="margin-top: 40px;margin-left: 160px;">
                                       <div class="bannervideo" >
             <img src="assets/GREAT LAKES LOGO.jpg" height="100">
                        </div></div>
                        <div class="span5" style="padding: 40px 0px 0px 0px;float: right;">
                         <div class="bannertext">
                        <h3 style="color:#000;text-align:left;font-size: 32px;">Post Graduate Programme in Business Analytics</h3>
                        </div>
                        <div class="bannerinfo">
                          <p style="font-size:21px;color:#000;">Designed with an innovative pedagogy and delivered by illustrious faculty, PGP-BA is tailored for working professionals who wish to build managerial careers in the growing Analytics industry. <br>
                            
                           </p><br><br><a href="" style="font-size:16px;text-decoration:underline;color:#000;">Explore More</a>
                        </div></div>
                     </div>
                       </div>
                      <div class="clearfix"></div>
                    </div></div>
                    <div class="item" data-slide-number="1"><div class="row">
                      
                        
                      
                      <div class="clearfix"></div>
                      <div class="span12" align="center"  style="background-image:url(../assets/slider2.png);background-repeat:no-repeat;background-size:100% 100%;color:black;width:100%;height: 300px;">
                        <div class="span12" style="width: 70%;margin: 0px 10%;">
 <div class="span4" align="justify">
<!--                        
<div class="bannervideo" >
                          <img src="assets/GREAT LAKES LOGO.jpg" width="250" height="160"/>
                        </div> -->
                      </div>
                      <div class="span5" align="center" style="padding: 40px 0px 0px 0px;float: right;"  >
                            <div class="bannertext">
                        <h3 style="color:white;text-align:left;font-size: 32px;">Admissions Open</h3>
                        </div>
                        <div class="bannerinfo">
                          <p style="font-size:21px;color:white;">Analytics is emerging as teh biggest career opurtunity worldwide and is facing an acute talent shortage.<br>
                            Are you 'skilled' to encash this growth?
                           </p> <br><br><a href="/pgpba/application"><button class="btn btn-large btn-default"> Apply Now</button></a>
                        </div>
                        </div>
                      </div>
                     </div>
                      <div class="clearfix"></div>
                    </div></div>

                     <div class="item" data-slide-number="2"><div class="row">
                      
                             
                      
                      <div class="clearfix"></div>
                      <div class="span12" align="center"  style="background-image:url(../assets/slider-3.png);background-repeat:no-repeat;background-size:100% 100%;color:black;width:100%;height: 300px;">
                      <div class="span12" style="width: 70%;margin: 0px 10%;">
                        <div class="span4" align="center" style="margin-top: 40px;margin-left: 160px;">
    <div class="bannervideo" >
             <img src="assets/partners_slider.png" >
                        </div>
                      </div>
                      <div class="span5" align="center" style="padding: 40px 0px 0px 0px;float: right;" >
                          <div class="bannertext">
                        <h3 style="color:white;text-align:left;font-size: 32px;">Industry Partners</h3>
                        </div>
                        <div class="bannerinfo">
                 <p style="font-size:21px;color:white;">The curricullum for PGP-BA is designed and delivered in association with leaing analytics organizations to ensure hands-on exposure and industry relavent skills.
                           </p><!-- <a href="" style="text-decoration:underline;color:white;">learnmore</a> -->
                        </div>

                       </div>
                      </div>
                    </div>
                      <div class="clearfix"></div>
                    </div></div>


                  </div>

                </div>
              </div>
              <div class="span4" id="carousel-text"></div>

            </div>

          </div>

        </div> <!--/Slider-->
      <div class="carousel-nav">
        <a href="#" data-to="0" class="active">1</a>
        <a href="#" data-to="1">2</a>
        <a href="#" data-to="2">3</a>
      </div>


    </div>


     

    </div>



<div class="coursesyllabus">
<div style="width:100%;background:#333;margin-left:-10px;height:45px;padding: 0px 10px;margin-top:-11px;" ><ul class="nav nav-tabs1" id="myTab" style="width: 75%;margin:0px auto;">
  <li class="active"><a href="#home1">OVERVIEW</a></li>
  <li><a href="#profile1">ABOUT PROGRAMME</a></li>
  <li><a href="#messages1">ADMISSIONS</a></li>
</ul></div>
  <div class="container" >
      <div class="row">
       <div class="span12" >
      <div class="tab-content" style="width: 85%;
padding: 0px;
float: left;">
  <div class="tab-pane active" id="home1">
    <div class="" style="width:100%">
    <div class="tabbable tabs-left" > 
    <div  style="margin-top: 40px;float: left;width: 25%;margin-right: 0px; 10px;height: 625px;
background: url('assets/greybandcopy.png');background-position-x: 185px;">
<ul class="nav nav-tabs2" id="myTab1" style="">
   <li class="active"><a href="#home">Analytics as an Opportunity</a></li>
    <li><a href="#messages">PGPBA as a Programme</a></li>
     <li><a href="#advantages">Great Lakes  Advantage</a></li>
    <li class="tab-pane"><a href="#Partners">Programme Partners</a></li>
</ul></div>

<div class="tab-content" style="width: 75%;float: left;padding-top: 30px;">
  <div class="tab-pane active" id="home">
<div class="aboutcompany">
    <div class="underlinetext" style="text-align:center;">
      <img src="assets/Analytics Infographic.jpg" ><br>
<P style="float: left;padding: 20px 15px;width: 98%;text-align: justify;">Analytics is the next big global opportunity and is witnessing an acute shortage of skilled talent. With leading Indian and global companies scouting for talent, a combination of business management and analytical training can propel a candidate to managerial and leadership roles in the analytics industry.  </p></div>
</div></div>
 <div class="tab-pane" id="messages" style="padding:20px;">
  <div class="underlinetext">
      <h4>Why PGPBA?</h4>
      <p style="float: left;padding: 20px 15px;width: 95%;text-align: justify;">
     
The Great Lakes' Post Graduate Programme in Business Analytics is designed for executives who want to build their careers in the analytics industry. The programme covers essentials of business management, deep dives into the study of business analytics and provides hands on training on analytical tools and technologies that are used by companies worldwide.
</p><p style="float: left;padding: 20px 15px;width: 95%;text-align: justify;">
Some of the unique features of the programme are enlisted below: 
The curriculum provides a detailed study in analytics alongwith covering general management subjects and specialised domain areas such as Retail, BFSI, Healthcare, E-commerce and Energy. 
</p><p style="float: left;padding: 20px 15px;width: 95%;text-align: justify;">
The courses are taught by eminent faculty from Great Lakes and senior executives from leading analytics companies.
</p><p style="float: left;padding: 20px 15px;width: 95%;text-align: justify;">
The programme provides the candidates with hands on exposure to tools such as SAS, Tableau and actual industry case studies through virtual labs, assignments and project
</p><p style="float: left;padding: 20px 15px;width: 95%;text-align: justify;">
The blended delivery model (classroom and online) of the programme makes it convenient for working professionals to attend classroom sessions without having to quit their jobs and also, pace their learning through online sessions.    </p>
<h4>Who is it for?</h4>
<p style="float: left;padding: 20px 15px;width: 95%;text-align: justify;">

The PGP-BA programme is designed for working professionals who wish to embark on managerial careers in the analytics sector. The prior experience of a candidate need not be in analytics, though an analytic bent of mind would be preferable. A successful graduate degree, a minimum experience of two years and a keen interest in analytical problem solving are the only pre-requisites for applying to the programme. 
</p>
<h4>Career paths after PGPBA</h4>
<p style="float: left;padding: 20px 15px;width: 95%;text-align: justify;">
The Post Graduate Programme in Business Analytics (PGP-BA) equips you with the relevant knowledge and skills to pursue managerial careers with best of analytics companies or move the analytics roles within your existing organisation.
Though the roles would vary across organizations and would also depend on a candidate's experience levels, some of the indicative roles would be: Business Analyst / Senior Business Analyst, Manager (Analytics), Head (Analytics), Vice President (Analytics), Consultant, etc.
</p><p style="float: left;padding: 20px 15px;width: 95%;text-align: justify;">
Some introductory videos on analytics
</p>
      <table><tr><td><h4>1.What is Analytics?</h4>
       <%= video_tag("v1.mp4",:type=>'video/mp4',:size => "320x240", :controls => true, :autobuffer => true, poster: "v1.jpg") %></td></tr>
       <tr><td>
       <h4>2.Why is analytics becoming popular?</h4>
      <%= video_tag("v2.mp4",:type=>'video/mp4',:size => "320x240", :controls => true, :autobuffer => true, poster: "v2.jpg") %></td></tr></table>
      

  </div></div>
   <div class="tab-pane active" id="advantages">
  <div class="aboutcompany">
      <div class="underlinetext" >
<h4>Great Lakes Advantage</h4>
     <ul style="text-align: justify;"> <li> Great Lakes is one of India's most respected business schools and has been consistently ranked within the top 20 in the country. </li><li>
Great Lakes is the only business school in India to set up a dedicated Center of Excellence in Analytics. This center has been established with support from leading analytics companies and is dedicated to cutting edge research and training for talent development for the analytics industry.</li><li>
Great Lakes has academic collaborations with leading institutions such as Yale University, Nanyang Technical University, University of Houston, Illinois Institute of Technology.</li><li>
The faculty pool at Great Lakes comprises leading faculty from Indian and International institutions such as Harvard Business School, Stanford Graduate School of Business, Kellog School of Business, Stern School of Business, University of Chicago, IIM Ahmedabad, IIM Bangalore, IIM Kolzhikode, IIT Bombay, IIT Delhi, etc</li><li>
Some of the eminent dignitaries associated with Great Lakes include Dr Ratan Tata (Business Advisory Council), Mr Kumaramanglam Birla (Business Advisory Council), Mr Narayana Murthy (Business Advisory Council), Ms Indra Nooyi (Business Advisory Council), Mr Deepak Parekh (Business Advisory Council), Dr Philip Kotler (Academic Advisory Council), Prof Aswath Damodaran (Academic Advisory Council), etc</li><li>
Great Lakes convenes an International Business Analytics conference every year that participation from industry and academia in India and abroad. </li><li>
Great Lakes faculty have authored several books and research articles on analytics and have trained analytics professionals across companies such as Accenture, American Express, Mu Sigma, HP, etc. </li></ul></div>
  </div></div>

   <div class="tab-pane" id="Partners" style="padding:20px;">
  <div class="underlinetext">
     <h4>Programme Partners</h4>
       <h5 style="text-decoration:underline;">Online Content Partner</h5>
  <P style="float: left;padding: 20px 15px;width: 95%;text-align: justify;"><img src="assets/jigsaw.png" style="float:left;">Jigsaw academy is the brainchild of Gaurav Vohra and Sarita Digumarti who together have over 20 years of experience in the analytics industry. They have partnered with Priya Gupte who brings marketing expertise to the table. All three have worked in varied industries, across multiple roles and have vastly differing experience, yet together they formed the jigsaw. The common thread across the three is that they believe that the analytics industry is poised to take-off and that Jigsaw Academy can play a crucial role by identifying and nurturing analytic talent in India.</p></div>
    <div class="underlinetext">
    <h5 style="text-decoration:underline;">Corporate Partners</h5>
  <table class="table">
    <tr><td><img src="assets/bridge_logo.png" width="175" height="70"></td><td><img src="assets/evalue_logo.png" width="175" height="70"></td></tr>
  </table></div>
 <div class="underlinetext">
  <h5 style="text-decoration:underline;">Technology Partner</h5>
  <P style="float: left;padding: 20px 15px;width: 95%;text-align: justify;"><img src="assets/beaconslogop.png" style="float:left;">Beacon Learning is our technology partner and offers innovative and interactive learning management system to enable online learning programmes. The Beacon Learning Management system provides the students with a best-in-class learning environment that makes online learning self paced, interactive and more classroom like.  </p>
  </div>

</div>
  </div>
  </div>
  </div>
  </div>
<div class="tab-pane" id="profile1">
 <div class="span10">
    <div class="tabbable tabs-left" > 
    <div  style="margin-top: 40px;float: left;width: 25%;margin-right: 0px; 10px;float: left;
height: 760px;
background: url('assets/greybandcopy.png');background-position-x: 185px;">
<ul class="nav nav-tabs2" id="myTab1" style="">
  <li class="active"><a href="#Details">Programme Details</a></li>
  <li class="tab-pane"><a href="#Benefits">Programme Benefits</a></li>
  <li class="tab-pane"><a href="#Curriculum">Curriculum</a></li>
  <li class="tab-pane"><a href="#Faculty"> Faculty</a></li>
  <li class="tab-pane"><a href="#Calendar">Calendar</a></li>
  <li class="tab-pane"><a href="#Pedagogy">Pedagogy</a></li>
  <li><a href="#partners">Corporate Partners</a></li>
</ul></div>

<div class="tab-content" style="width: 75%;float: left;padding-top: 30px;">
  <div class="tab-pane active" id="Details">
<div class="aboutcompany">
    <div class="underlinetext" style="text-align:center;">
     <div class="underlinetext">
    <h2>Programme Details</h2>
    <P style="float: left;padding: 20px 15px;width: 98%;text-align: justify;">The PGP-BA Programme is designed with a learning methodology that is comprehensive in content and impactful in outcome. The format of the Programme combines the best of classroom sessions and technology aided learning in terms of recorded lectures and live webinars.</p>
</div>
<div class="underlinetext">
  
<ul>
  <li>The Programme duration is 11 months, with the participants spending 5 days (including weekend) every alternate month on campus.
</li>
  <li> Between successive contact sessions, participants would take online classes and access other learning material (assignments, readings, recordings, hands on SAS lab exercises, etc) using an online learning management system.</li>
  <li>In terms of number of hours, the Programme would be spread across 240 hours of classroom sessions and about 150 hours of online learning (using recordings, webinars, virtual lab, assignments and project).</li>
</ul>
</div>

   </div>
</div></div>
  <div class="tab-pane" id="Benefits" style="padding:20px;">
<div class="underlinetext">
    <h2>Programme Benefits</h2>
   <img src="assets/Program Benefits-Infographic.jpg">
</div>
</div>
 <div class="tab-pane" id="Curriculum" style="padding:20px;">
<div class="underlinetext">
    <h4>Curriculum</h4>
   <P style="float: left;padding: 10px 15px;width: 98%;text-align: justify;"> The curriculum of the Programme is designed to expose the candidates to foundations of business management and deep skills in analytics. The curriculum entails exhaustive coverage of academic concepts blended with rich industry exposure and hands on training on the requisite skills and technologies needed for the Analytics sector.</p>
</div>
<div class="underlinetext">
   <P style="float: left;padding: 10px 15px;width: 98%;text-align: justify;">The courses are a judicious mix of domain knowledge, quantitative subjects, technical skills and applications. The first few modules of the Programme will focus on the domain competency along with exposure to rigors of the analytical tools and techniques. Subsequently, the participants will be given expertise in handling large data sets in terms of processing, managing, analyzing and representing them in a format that makes Business decisions easy. The latter portion of the curriculum focuses on specific problems encountered in domains such as Finance, marketing, Web, Health, Energy, Telecom etc, and candidates will learn the Business Analytics approaches to solve these problems. </p>
</div>
<div class="underlinetext">
   <P style="float: left;padding: 10px 15px;width: 98%;text-align: justify;">Hands on exposure: Every module will entail practical assignments that complement the conceptual learning that the candidates would have gathered. These assignments will expose the candidates to solving real world business problems using tools such as SAS, R, Tableau, etc.</p>
</div>
<div class="underlinetext">
   <P style="float: left;padding: 10px 15px;width: 98%;margin-bottom:10px;text-align: justify;">Industry project is a critical component of the curriculum wherein every candidate will work on an actual industry case study. This project will act as an industry application of the learning derived from the course and will need to be presented to the faculty board for successful completion of the course. </p></div>
   


<div class="underlinetext">
       <h4>Tools and Technologies covered: <br>
SAS, Tableau, R.</h4><br>
<table class="table table-bordered table-striped">
<tr><td>Module</td><td>Topics</td></tr>
<tr><td>Module 1</td><td>Financial Statement Analysis</br>Marketing and CRM</td></tr>
<tr><td>Module 2</td><td>Data analysis and Statistics in Decision Making<br>Supply chain and Logistics management<br>Introduction to SAS</td></tr>
<tr><td>Module 3</td><td>Advance Statistics<br>Digital commerce<br>Data management, Exploration is Business analytics using SAS</td></tr>
<tr><td>Module 4</td><td>Predictive analytics<br>Data mining and visualization<br>Modeling using SAS</td></tr>
<tr><td>Module 5</td><td>Optimization techniques<br>Credit risk, fraud and other financial analytics<br>Marketing and retail analytics<br>Web and social media analytics<br>Supply chain and logistics analytics</td></tr>
<tr><td>Module 6</td><td>Health analytics<br>Energy analytics<br>Telecom analytics<br>Insurance analytics<br>Project presentation</td></tr>
</table>
</div>

</div>
 <div class="tab-pane" id="Faculty" style="padding:20px;">
<div class="underlinetext">
      <h4 style="font-size: 19.5px;">Faculty</h4>
      The faculty pool of the Programme consists of leading academicians in the area of business analytics along with experienced industry practitioners from the leading analytics organizations. The blended academia-industry pedagogy would ensure that the candidates acquire conceptual understanding and industry relevant skills from the Programme.
  <br><br>
  <h4 style="font-size: 19.5px;margin:0px;">Dr Bappaditya Mukhopadyay </h4>
  <span style="color:#ccc;">Professor, Great Lakes Institute of Management | Ph D (Indian Statistical Institute) </span><br><br>
In addition to being a Professor in Finance and Economics at Great Lakes, Professor Bappaditya is also a Visiting Professor, University of Ulm, Germany , SP Jain Centre for Management, Singapore and Dubai and IIM Kolkata. He is also a Special Invitee on Board for Risk Management Committee & many more esteemed organizations.  <br><br>
  <h4 style="font-size: 19.5px;margin:0px;">Dr S Bharadwaj</h4>
  <span style="color:#ccc;">Professor, Great Lakes Institute of Management | Ph D (University of Maryland)</span> <br><br>
S. Bharadhwaj is the Dr. Bala V. Balachandran & Vasantha Balachandran Chair Professor of Marketing. Prior to joining Great Lakes, he worked at Department of Management Studies, IIT Madras and Nanyang Business School, Singapore. Dr. S. Bharadhwaj holds a PhD in Marketing from the Robert Smith School of Business, University of Maryland, College Park, USA.   <br><br>
  <h4 style="font-size: 19.5px;margin: 0px;">Dr P K Vishwanathan </h4>
  <span style="color:#ccc;">Professor, Great Lakes Institute of Management | Ph D </span> <br><br>
Dr. P. K. Viswanathan is currently a Professor in the area of Operations at Great Lakes Institute of Management. Apart from executing corporate consultancy assignments, he has designed and conducted training Programmes for many leading organizations in India. After completing his Masters from Madras University, he went on to do an MBA from FMS, Delhi and MS from Manitoba, Canada. He holds a PhD from Madras University.   <br><br>
  <h4 style="font-size: 19.5px;margin: 0px;">Dr Tapan Panda </h4>
  <span style="color:#ccc;">Professor, Great Lakes Institute of Management | Ph D, MBA </span><br><br>
Dr Panda has worked at Indian Institute of Management at Lucknow, Kozhikode and Indore as a full time faculty member and also officiated as Director at Indian Institute Of Management Indore before joining Everonn Education Limited( a BSE and NSE listed company) as its President( Marketing and Corporate Affairs). Dr Panda is a regular contributor to business newspapers and magazines and is a recipient of the Dewang Mehta Memorial Award as Best Marketing Faculty in  the year 2011.   <h4 style="font-size: 19.5px;margin: 0px;">Dr Vaidy Jayaraman </h4>
Dr Jayaraman is an Associate Professor of Operations and Supply Chain Management at the School of Business Administration, University of Miami, Coral Gables, Florida.  Prior to joining the University of Miami, he was an Assistant Professor of Operations and Supply Chain Management at the School of Business Administration, Washington State University as well as an Assistant Professor of Operations and Supply Chain Management at the School of Business Administration, University of Southern Mississippi.  <h4 style="font-size: 19.5px;margin: 0px;">Dr Himadri Das</h4>
  <span style="color:#ccc;">Professor, Great Lakes Institute of Management | Ph D (University of Virginia), B Tech (IIT Delhi)</span> <br><br>
Dr Das is currently the Director of Great Lakes Institute of Management, Gurgaon. Dr. Himadri Das has B.Tech and MBA degrees from IIT Delhi and MS and Ph.D degrees from University of Virginia. He was associated with IMI, Delhi for 11 years as a Professor of Finance and Information Systems and did serve in variety of academic leadership positions latest being Dean (Academic Programmes). He regularly teaches in business schools internationally as well and has undertaken substantial research and consulting projects.     <br><br>
  <h4 style="font-size: 19.5px;">Industry faculty</h4>
  Senior executives and practitioners who have worked with leading organizations that successfully use analytics such as American Express, Accenture, Evalueserve, Genpact, GE, Capital One, Symphony, Mu Sigma, Absolut Data, etc.
</div>
 </div>
 <div class="tab-pane" id="Calendar" style="padding:20px;">
<div class="underlinetext">
     <h4>Calendar</h4>

<table class="table table-striped table-bordered">
<thead><th>Month</th><th> Location</th><th>  Description</th></thead>
<tr><td>Nov-13 </td><td> Great Lakes, Gurgaon Campus </td><td>Registration & Inaugration</td></tr>
<tr><td>Nov-13  </td><td>Great Lakes, Gurgaon Campus </td><td>Classroom Sessions for 5 days</td></tr>
<tr><td>Dec-13 </td><td> Online Session </td><td> Online Lectures and Assignments </td></tr>
<tr><td>Jan-14</td><td>  Great Lakes, Gurgaon Campus</td><td> Classroom Sessions for 5 days</td></tr>
<tr><td>Feb-14 </td><td> Online Session  </td><td>Online Lectures and Assignments </td></tr>
<tr><td>Mar-14 </td><td> Great Lakes, Gurgaon Campus </td><td>Classroom Sessions for 5 days</td></tr>
<tr><td>Apr-14 </td><td> Online Session</td><td>  Online Lectures and Assignments </td></tr>
<tr><td>May-14 </td><td> Great Lakes, Gurgaon Campus</td><td> Classroom Sessions for 5 days</td></tr>
<tr><td>Jun-14  </td><td>Online Session</td><td>  Online Lectures and Assignments </td></tr>
<tr><td>Jul-14 </td><td> Great Lakes, Gurgaon Campus</td><td> Classroom Sessions for 5 days</td></tr>
<tr><td>Aug-14 </td><td> Online Session  </td><td>Online Lectures and Assignments </td></tr>
<tr><td>Sep-14 </td><td> Great Lakes, Gurgaon Campus</td><td> Classroom Sessions for 5 days</td></tr>
<tr><td>Sep-14 </td><td> Great Lakes, Gurgaon Campus</td><td> Graduation </td></tr>
<tr><td>Classroom Hours</td><td colspan="2">  240 </td></tr>
<tr><td>Online Hours </td><td colspan="2">  250*  </td></tr>
<tr><td colspan="3">* Including online lecures assignments,quizzes,lab sessions,etc.   </td></tr> 
</table>

    
</div> </div>
 <div class="tab-pane" id="Pedagogy" style="padding:20px;">
<div class="underlinetext">
     <h2>Pedagogy</h2>
  <h4>  Classroom learning</h4>
The classroom sessions would adopt a case study approach to develop conceptual learning of management and analytics. In similar vein as the full time Programmes, the candidates would be required to cover their pre-readings and other associated learning material to be well prepared for these sessions. <br>
 
<h4>Online Learning Management System (LMS)</h4>
The online LMS would be used to host content and live webinars that will enable the candidates to continue their learning while not on campus. In addition to providing an enriching learning environment, the LMS would also encourage collaborative learning between the candidates.
 <br><br>
<h4>Virtual Lab</h4>
The virtual lab is a simulation environment that would be used by candidates for practicing exercises and assignments on tools such as SAS. The exposure on virtual lab would help candidates acquire hands on experience of analytical skills and techniques that are valued in the industry.
 <br><br>
<h4>Industry Lectures</h4>
Industry Lectures are a key aspect of the Programme as they complement the learning in class by actual case studies from the industry discussed by senior executives from leading analytics companies. 
 <br><br>
<h4>Industry Project</h4>
The Industry project would be a live project done in conjunction with a company, which will be performed under the guidance of a faculty from Great Lakes. This will be an individual project and will be presented to the faculty board for successful completion of the Programme.


</div> </div>


 <div class="tab-pane" id="partners" style="padding:20px;">
<div class="underlinetext">
     <h4>Corporate Partners</h4>
     <P style="float: left;padding: 20px 15px;width: 98%;text-align: justify;">The Post Graduate Programme in Business Analytics offered by Great Lakes is conceived, and delivered in collaboration with the following Corporate Partners:</p><br>
          <table class="table">
 <tr><td><img src="assets/bridge_logo.png" width="175" height="70"></td><td><img src="assets/evalue_logo.png" width="175" height="70"></td></tr>
</table>
</div></div>

</div>
</div>
</div>

  </div>
  <div class="tab-pane" id="messages1">
 <div class="span10">
    <div class="tabbable tabs-left" > 
    <div  style="margin-top: 40px;float: left;width: 25%;margin-right: 0px; 10px;height: 625px;
background: url('assets/greybandcopy.png');background-position-x: 185px;">
<ul class="nav nav-tabs2" id="myTab1" style="">
   <li class="active"><a href="#Overview">Overview</a></li>
  <li ><a href="#Fees">Eligibility & Fees</a></li>
  <li><a href="#Process">Admission Process</a></li>
  <li><a href="#Deadlines">Deadlines</a></li>
  <li><a href="#sponsor">Sponsor an employee</a></li>
  <li><a href="#faq">FAQs</a></li>
  </ul><ul class="nav nav-tabs2" style="">
<li style="margin-top: -20px;"><a href="/pgpba/application" >Apply Now</a></li></ul>
</div>

<div class="tab-content active" style="width: 75%;float: left;padding-top: 30px;">
   <div class="tab-pane active" id="Overview">
     <div class="underlinetext" >
      <img src="assets/Admissions-Infographic.jpg">
     </div>
   </div>
  <div class="tab-pane " id="Fees">
<div class="aboutcompany">
    <div class="underlinetext" >
      <h2>Eligibilty & Fees</h2>
 <table class="table table-bordered table-striped"><thead style="background: #8F8888;"><tr><th>Issue of application starts from</th>
  <th>Last date of submission for first cycle</th> </tr></thead>
  <tbody>
    <tr><td>9th September 2013</td><td>22nd September 2013</td></tr>
  </tbody></table>
Candidates meeting the following conditions are eligible for pursuing the PGP-BA Programme:<br>
<ul>
<li>Work Experience: Minimum two years of experience at the time of submitting the application
</li><li>Education: Should at least have Bachelor’s degree in engineering or other relevant graduation such as Mathematics, Statistics, Science, etc.</li></ul>
<br>
The fee for the Programme is Rs 3,00,000 inclusive of Service Tax and includes the following:<br>
<ul><li>
Admission Fee</li><li>
Tuition Fee</li><li>
Learning Material</li><li>
Lunch during days of classes
</li></ul>

    </div>
</div></div>
  <div class="tab-pane" id="Process" style="padding:20px;">
<div class="underlinetext">
    <h4>Admission Process </h4>
<ul>
<li>The admission committee would shortlist candidates based on the profile and application forms
</li>
<li>The shortlisted candidates would then be called for interviews. Interviews may be conducted in person or over video/tele-conferencing.
</li>
<li>The admissions will be conducted on a rolling basis and the admission process shall be closed once the requisite number of candidates have taken admission into the Programme.</li>
</ul>
</div>
</div>
 <div class="tab-pane" id="Deadlines" style="padding:20px;">
<div class="underlinetext">
     <h4>Deadlines</h4>
     <table class="table table-bordered table-striped"><thead style="background: #8F8888;"><tr><th>Event</th>
  <th>Deadline</th></tr></thead>
  <tbody>
    <tr><td>Last Date for Receiving Application</td><td>28 August, 2013</td></tr>
  <tr><td>Online Test</td><td>02 September, 2013</td></tr>
<tr><td>Addmission Process</td><td>10 September, 2013</td></tr>
<tr><td>Final list of Selected Candidates</td><td>20 September, 2013</td></tr>
<tr><td>Commencement of Programme</td><td>18 October, 2013</td></tr>
</tbody></table>
</div></div>
 <div class="tab-pane" id="sponsor" style="padding:20px;">
<div class="underlinetext">
  <h2>Sponsor an employee</h2>
      <P style="float: left;padding: 20px 15px;width: 98%;text-align: justify;">
        The Employer Sponsorship Programme allows a corporate to work along with outstanding employees in grooming them for senior management positions within the company. For employers, it is a chance to finance world-class education for talented employees while encouraging them to stay and grow with the company. Employers value what the employees bring back to their organizations and are willing to sponsor them as they know that the strategies and insights, which their employees learn will be put to best use at the work place. 
            </p>
          <p style="float: left;padding: 20px 15px;width: 98%;text-align: justify;">  If you are interested in sponsoring an employee of yours or if you would like us to approach your HR head, please mail us at <b><a href="mailto:pgpba@beaconlearning.in" target="_top">pgpba@beaconlearning.in</a></b></p>
</div></div>
 <div class="tab-pane" id="faq" style="padding:20px;">
<div class="underlinetext">
  <h2>FAQ's</h2>
       <div id="faqs">
          <div id="question" align="left">
              <i class="icon-question-sign icon"></i>
              <span><b>What is the eligibility criteria for this programme?</b></span>
          </div>
          <div id="answer" align="left">
              <span>The Post Graduate Programme in Business Analytics (PGP-BA) is an Analytics focused management programme designed and delivered by Great Lakes Institute of Management. Since this is an executive programme that prepares professionals for managerial careers in Analytics, a prior work experience of at least two years is required. However, there is no upper limit on the amount of prior work experience. </span>
          </div>
           <div id="question" align="left">
              <i class="icon-question-sign icon"></i>
              <span><b>What is the programme architecture for PGP-BA?</b></span>
          </div>
          <div id="answer" align="left">
              <span>The programme duration will be for 11 months wherein the candidates would attend classes for 5 days (Friday-Tuesday) every alternate month at Great Lakes Gurgaon campus, with the remaining sessions being available online. In terms of hours, the classroom sessions across 11 months would amount to 240 hours and the online learning material would be for an other 250 hours.   
</span>
          </div>
           <div id="question" align="left">
              <i class="icon-question-sign icon"></i>
              <span><b>What is the programme calendar for PGP-BA?
</b></span>
          </div>
          <div id="answer" align="left">
              <span>The Post Graduate Programme in Business Analytics commences in November 2013 and the class shall graduate in September 2014. The six classroom contact session shall happen in the months of November'13, January'14, March'14, May'14, July'14 and September'14. The intervening months shall have online sessions for the candidates to practise, apply and pace their self learning.
</span>
          </div>
           <div id="question" align="left">
              <i class="icon-question-sign icon"></i>
              <span><b>What is unique about the curriculum in PGP-BA?
</b></span>
          </div>
          <div id="answer" align="left">
              <span>PGP-BA is unique in curriculum design on the following fronts:<br>
:: The curriculum covers general management subjects and provides a detailed study in analytics <br>
:: The courses are taught by eminent faculty from Great Lakes and senior executives from the analytics industry <br>
:: The programme provides the candidates with hands on exposure to tools such as SAS, Tableau and actual industry case studies through virtual labs, assignments and project <br>
:: The blended delivery model (classroom and online) of the programme makes it convenient for working professionals to attend classroom sessions without having to quit their jobs and also, pace their learning through online sessions. </span>
          </div>
           <div id="question" align="left">
              <i class="icon-question-sign icon"></i>
              <span><b>How will PGP-BA help me progress in my career?
</b></span>
          </div>
          <div id="answer" align="left">
              <span>The Post Graduate Programme in Business Analytics (PGP-BA) equips you with the relevant knowledge and skills to pursue managerial careers with best of analytics companies or move the analytics roles within your existing organisation.
</span>
          </div>
           <div id="question" align="left">
              <i class="icon-question-sign icon"></i>
              <span><b>Is PGP-BA a completely online programme?
</b></span>
          </div>
          <div id="answer" align="left">
              <span>PGP-BA follows a blended learning model wherein classes are conducted at Great Lakes Gurgaon campus and also through an online learning management system.</span>
          </div>
           <div id="question" align="left">
              <i class="icon-question-sign icon"></i>
              <span><b> Will the programme certificates be awarded by Great Lakes?
</b></span>
          </div>
          <div id="answer" align="left">
              <span>The certificates for Post Graduate Programme in Business Analytics would be awarded by Great Lakes Institute of Management.
</span>
          </div>
           <div id="question" align="left">
              <i class="icon-question-sign icon"></i>
              <span><b>Would Great Lakes faculty be teaching in this course?
</b></span>
          </div>
          <div id="answer" align="left">
              <span>The academic modules would be taught be senior faculty from Great Lakes. In addition to to Great Lakes faculty, senior leadership from the industry would also participate in delivering certain topics/modules

</span>
          </div>
           <div id="question" align="left">
              <i class="icon-question-sign icon"></i>
              <span><b>Where will the classes be held?
</b></span>
          </div>
          <div id="answer" align="left">
              <span>The classes during the contact sessions would be conducted at Great Lakes Gurgaon campus
</span>
          </div>
           <div id="question" align="left">
              <i class="icon-question-sign icon"></i>
              <span><b>Is PGP-BA accredited by UGC or AICTE?
</b></span>
          </div>
          <div id="answer" align="left">
              <span>The format of the programme does not lend itself to accreditation from AICTE/UGC. However, Great Lakes is an AICTE accredited institution and is one of the few colleges in India to receive accreditation from AACSB. 
</span>
          </div>
           <div id="question" align="left">
              <i class="icon-question-sign icon"></i>
              <span><b>How can I get more information on the programme?
</b></span>
          </div>
          <div id="answer" align="left">
              <span>For more information on the programme or any kind of assistance, you can contact the admissions team at 0124-4934024 or 9650062121. Alternatively, you can also write to us at <a href="mailto:pgpba@beaconlearning.in" target="_top" style="color:#63a7c9;">pgpba@beaconlearning.in</a></span>
          </div>
           <div id="question" align="left">
              <i class="icon-question-sign icon"></i>
              <span><b>What is the fee payment schedule for the programme?
</b></span>
          </div>
          <div id="answer" align="left">
              <span>The total programme fee of Rs 3 lacs is inclusive of service tax and can be paid at one go or within the following payment schedule:
a. Payment of Rs 50,000 at the time of acceptance of admission
b. Payment of Rs 50,000 before commencement of programme
c. Payment of Rs 100,000 before Dec 31st 2013
d. Payment of Rs 100,000 before Jan 31st 2014</span>
          </div>
           <div id="question" align="left">
              <i class="icon-question-sign icon"></i>
              <span><b>What is the refund policy for the programme?
</b></span>
          </div>
          <div id="answer" align="left">
              <span>Once an offer has been accepted and the fee has been paid, there shall be no refunds.
</span>
          </div>
           <div id="question" align="left">
              <i class="icon-question-sign icon"></i>
              <span><b>Is accommodation also provided?</b></span>
          </div>
          <div id="answer" align="left">
              <span>Accommodation has not been included in the programme fee and can be provided at an additional cost
</span>
          </div>
           <div id="question" align="left">
              <i class="icon-question-sign icon"></i>
              <span><b>Would I have to spend extra on books, online learning material or license fee?</b></span>
          </div>
          <div id="answer" align="left">
              <span>The cost of all requisite learning material, whether in print or online, has been covered in the programme fee </span>
          </div>
           <div id="question" align="left">
              <i class="icon-question-sign icon"></i>
              <span><b>Would the content be available to me after completion of the course?</b></span>
          </div>
          <div id="answer" align="left">
              <span>We believe that learning should continue and hence, all the learning material in terms of lectures and reading content would be available to the candidates post completion of programme.</span>
          </div>
           <div id="question" align="left">
              <i class="icon-question-sign icon"></i>
              <span><b>How will I be evaluated during the programme?</b></span>
          </div>
          <div id="answer" align="left">
              <span>PGP-BA is designed to be a holistic and rigorous programme and follows a continuos evaluation. Every contact session would have evaluation examination in addition to the assignments and project work, which are also evaluated.</span>
          </div>
           <div id="question" align="left">
              <i class="icon-question-sign icon"></i>
              <span><b>Can my company sponsor me?</b></span>
          </div>
          <div id="answer" align="left">
              <span>We accept corporate sponsorships and can assist you with the process. For more information, you can write to us at <a href="mailto:pgpba@beaconlearning.in" target="_top" style="color:#63a7c9;">pgpba@beaconlearning.in</a></span>
          </div>
           <div id="question" align="left">
              <i class="icon-question-sign icon"></i>
              <span><b>Will there be placements at the completion of the programme?</b></span>
          </div>
          <div id="answer" align="left">
              <span>Placement services are not a part of this programme. However, having acquired the relevant skills and knowledge most wanted by the analytics industry, are best trained to secure jobs with the best of analytics companies or growth within their existing organisations.</span>
          </div>
           <div id="question" align="left">
              <i class="icon-question-sign icon"></i>
              <span><b>What is the admission process?</b></span>
          </div>
          <div id="answer" align="left">
              <span>  All interested candidates are required to apply to the programme through the online application form. A panel of Great Lakes faculty evaluates all applications and therein, the shortlisted candidates are contacted for interviews. The interviews may be conducted in person or through telephonic or video conferencing. 

</span>
          </div>
           <div id="question" align="left">
              <i class="icon-question-sign icon"></i>
              <span><b>How can I apply for the programme?</b></span>
          </div>
          <div id="answer" align="left">
              <span>If you are interested in the programme, you can apply through the online application form. If you need assistance from our team, write to us at <a href="mailto:pgpba@beaconlearning.in" target="_top" style="color:#63a7c9;">pgpba@beaconlearning.in </a>or call us at 0124-4934024 / 9650062121 and we shall guide you through the process.</span>
          </div>
</div>
</div></div>
</div>
</div>
</div>
  </div>
 </div>

        <div class="" style="width:14%;float:right;">
  <div class="left" style="margin-top: 40px;margin-left: 10px;padding-left: 10px;float: left;
height: 760px;
background: url('assets/greyband1.png');"><table cellpadding="5" style="margin-bottom:20px;"><tr><td><img src="../assets/apply.png"></td><td><h4><a href="/pgpba/application" class="hover" >Apply Now</a></h4></td></tr></table>
    <!-- <table cellpadding="5" style="margin-bottom:20px;"><tr><td><img src="../assets/dwnld.png"></td><td><h4><a href="" class="hover">Download<br> Brochure</a></h4></td></tr></table> -->
<table cellpadding="5" style="margin-bottom:20px;" ><thead><a href="#certifiedpopupmodal" role="button" data-toggle="modal"><h4>Programme Overview</h4></a></thead><tr><td><img src="../assets/benifits.png"></td><td> <a href="#certifiedpopupmodal" role="button" data-toggle="modal">Learn more about the PGPBA Programme through an INFOGRAPHIC</a></td></tr></table>
<table cellpadding="5" style="margin-bottom:20px;"><thead><h4>Contact Us</h4></thead><tr><td><img src="../assets/contact.png"></td><td><b>E:</b><a href="mailto:info@beaconlearning.in" target="_top">info@beaconlearning.in</a><br><b>T:</b>0124-4934024</td></tr></table>
<!-- <table cellpadding="5" ><thead><h4>FAQs</h4></thead><tr><td><img src="../assets/faq.png"></td><td>the technology and content platform at Beacon Learning.</td></tr></table> -->
  </div></div>
</div></div></div>
<script>
$('#myTab a').click(function (e) {
  e.preventDefault();
  $(this).tab('show');
})
$('#myTab1 a').click(function (e) {
  e.preventDefault();
  $(this).tab('show');
})
</script>


<%if @request_url == "http://beacon-learning.herokuapp.com/businessanalyticsprogram"  %>

<script type="text/javascript">
    $(document).ready(function(){
   console.log("downloading pdf");
window.location.assign("http://beacon-learning.herokuapp.com/download_pdf_pgpba",'_newtab')
    });
</script>
<% end  %>