<div style="float:left">
	<%= render 'shared/side_menu' %>
</div>
<br>
<div class="row">
	<div class="span10 offset3">
		<div class = "hero-unit" style="border:1px solid #0088cc;border-radius:5px;">
		
<%- model_class = Preview -%>

  <h3 align = "center">Edit Preview</h3>

<%= render :partial => 'form' %>
</div>
</div>
</div>