<% if !@comments.blank?%>
        <% @comments.each do |comment| %>
        <%# if ((@count % @countCommentsPerPage ) == 0 ) %>
        <div class="span6" style="margin-bottom:10px;">
          <div class="reviewer">
          <% if comment.user.image == nil %>
                <%= gravatar_for_with_size comment.user, "50x50" %>
                <% else  %>
                <%= image_tag(comment.user.image,size: "50x50", alt: "")%> 
                <% end  %>
          </div>
          <div class="bubble-content">
            <div class="point"></div>
              <%= comment.comment  %>
          </div>
          <div class="container clearfix"></div>
        </div>
       <%end%>
       <%#end%>
      
<%end%>