<div class="container">

    <form class="form-signin" method="post" action="#">
        <h2 class="form-signin-heading">Enroll Form</h2>
        <input type="text" name="creditcard" class="input-block-level" placeholder="Credit Card Number" required="required"/>
        <input type="password" name="cvvno" class="input-block-level" placeholder="CVV Number" required="required"/>
        <input type="text" name="expirydate" class="input-block-level" placeholder="Expiry MM/YYYY" required="required"/>
        <!-- <label class="checkbox">
          <input type="checkbox" name="remember" value="remember-me"> Remember me
        </label> -->
        <input type="hidden" name="submitted" value="TRUE"/>
        <button class="btn btn-large btn-primary" type="submit">Enroll</button>
    </form>
  </div>