<div class="container">
  <div>
 <div class="span4" style="font-size: 20px;padding-left: 214px;">
    Item Description
 </div>
 
 <div class="span2" style="font-size: 20px;">
    Price
 </div>
 <div class="span2" style="font-size: 20px;">
   SubTotal
 </div>
 <div class="span2" style="font-size: 20px;">
   Tax
 </div>
</div>
 <br /><br />
 <div class="span12" style="background:#F0F5F6;border:1px solid;">

    <div class="span2">
      <%= image_tag url_for(:action => 'show_image', :id => @course.id), width: "150", height: "120" %>
    </div>

    <div class="span4">
        <div class='span4' style="font-size: 15px; font-family: Arial;  text-align: justify;">
           <p>Course title 
            <br/>
           <%= @course.title %></p>
           <p>Course description 
            <br />
           <%= @course.desc%></p>
        </div>   
         
    </div>
    <div class="span2">
      Rs. 120
    </div>
     <div class="span2" style=" padding-left: 33px;">
      Rs. 120
    </div>
    <div class="span2" style="margin-top: -15px; padding-left: 294px;">
      Rs. 0
    </div>

</div>  
<br /><br /> <br /><br />

<div class="span12" style="background:#F2F2F2; height: 24px;line-height: 22px; margin-top: 47px;text-align: right; font-family: arial;font-size: 19px;">
Amount Paid: Rs. 120

</div>
<div class="button-place-holder" style="float:right; margin-right: 138px;">
    <p><%= link_to "Download Invoice", index_pdf_path(:id=>@course, :format => "pdf") %></p>

</div>
</div>
