 <br>
 <% provide(:title, 'A Smarter Way to Learn') %>
 <% provide(:effectingHeader) %>
 <%= render 'shared/course_header' %>
 <%= render 'shared/courselist' %>

</div>
</div>

<div class='apple_pagination' align="center" style="margin-left:447px;">
 <%= will_paginate @courses, :container => false %>
</div> 
</div>
 