<div  style="float:left">
	<h1>BEACON</h1>
	<h4>Learning</h4>
</div>
<br />
<div style="float:right">
<p><%=Time.now %></p>
<p>Trasection ID: 0475tr789yhu23569</p>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div  style="float:left">
	<p>Hello Test user</p>
    <p>You have sent payment of Rs. 120 to TestUser</p>
    <p>(beaconlms@gmail.com)</p>
</div>
<br /><br />
<br /><br />
<br /><br />

<p>It may take a few moments for this transection to appear in your account </p>
<hr />
<br/>
<div style="float:left">
<b>Merchant</b>
<p>Test User</p>
<p>beaconlms@gmail.com</p>
</div>
<div style="float:right">
<b>Instruction to merchant</b>	
<p>You have not entered any instruction</p>
</div>
<br /><br />
<br /><br />
<br /><br />
<div class="container">
<table class="table" border="1">
<tr>
  <th>Description</th>
  <th>Unit Price</th>
  <th>Qty</th>
  <th>Amount</th>
</tr>
<tr>
	<td><%= @course.desc%></td>
	<td>Rs. 120</td>
	<td>1</td>
	<td>Rs. 120</td>
</tr>
</table>

<div class="container">
  
<br /><br />

<div class="span12" style="background:#F2F2F2; height: 24px;line-height: 22px; margin-top: 47px;text-align: right; font-family: arial;font-size: 19px;">
Amount Paid: Rs. 120

</div>

</div>
	