.header-a a {
	color: #2C3E50 ;
	text-decoration: none;
}

.header-a a:hover{
	color: #34495E ;
	text-decoration: none;
}

.header-a .courseslink{
	position: relative;
}

.header-a .courseslink a{
	/*color: #2C3E50 ;*/
	text-decoration: none;
}

.header-a .courseslink a:hover{
	color: #34495E ;
	text-decoration: underline;
}

.header-a .createaccountlink a{
	color: #f1f1f1 ;
	text-decoration: none;
}

.header-a .createaccountlink a:hover{
	color: #f1f1f1 ;
	text-decoration: none;
}

.header-a .loginlink a{
	color: #f1f1f1 ;
	text-decoration: none;
}

.header-a .loginlink a:hover{
	color: #f1f1f1 ;
	text-decoration: none;
}

.header-a .nav-a li .btn-a, .btn-c, .header-a .nav-a li .course .course-control, .course .header-a .nav-a li .course-control, .header-a .nav-a li .btn-c, .header-a .nav-a li {
	/*font: 1em "OpenSansBold",Helvetica,Arial,sans-serif;*/
	/*padding: 5px;*/
}

.btn-a, .course .course-control {
	/*background: #228b9b;*/
	background: #2980B9 ;
	color: #f1f1f1;
}

.btn-a:hover{
	background: #3498DB ;
	color:#fff;
}


.btn, .btn-a, .course .course-control, .btn-b, .btn-c {
	border: 0;
	cursor: pointer;
	/*font: 1.5em "OpenSansBold",Helvetica,Arial,sans-serif;*/
	padding: 5px 5px;
	text-align: center;
	
}


.header-a {
	-webkit-transition: opacity 0.2s ease-in-out,top 0.2s ease-in-out;
	-moz-transition: opacity 0.2s ease-in-out,top 0.2s ease-in-out;
	-o-transition: opacity 0.2s ease-in-out,top 0.2s ease-in-out;
	transition: opacity 0.2s ease-in-out,top 0.2s ease-in-out;
	background: #fff;
	padding-bottom: 60px;
	border-bottom: 1px solid #ddd;
}

.header-a .inner {
	padding-top: 20px;
}

.inner {
	margin: 0 auto;
	max-width: 1200px;
	padding: 0 50px;
}

.header-a .logo a {
	position: relative;
	background: url(beaconslogo.png)  no-repeat;
	float: left;
	height: 71px;
	width: 222px;
	top:-15px;
}

.header-a .logo a:hover {
background: url(beaconslogop.png)  no-repeat;
}

.header-a .nav-a {
	float: right;
	margin: 21px 0 0;
	position: relative;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

.header-a .nav-a ul {
	position: relative;
}

ol, ul {
	list-style: none;
}

.header-a .nav-a li {
	display: inline;
	/*font: 1.2em "OpenSansBold",Helvetica,Arial,sans-serif;*/
	margin-left: 20px;
	text-transform: uppercase;
}

.btn-c {
	/*background: #bfbeb2;*/
	background: #2980B9 ;
}

.btn-c:hover {
	/*background: #bfbeb2;*/
	background: #95A5A6 ;
}

.btn-group{
	position: relative;
	margin-left: 20px;
}

.stayup{
	position: relative;
	top:-18px;
}

.dropdown-menu1{
	position: relative;
	top:50px;
	left:150px;
}



.caret{
	position: relative;
	top:5px;
}

.listinhead{
	/*position: relative;
	left:70px;
	top:-27px;*/
}

.listelse{
	/*position: relative;
	left:70px;
	top:-27px;*/
}

#dropdownlist{
	list-style:none;
	font-weight:bold;
	margin-bottom:10px;
	position: relative;
	left:70px;
	top:-27px;
}

#dropdownlist li a{
	padding: 5px;
	margin: 0px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;                
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

#dropdownlist li ul a{
	margin-top: 1px;
	margin-left: 39px;
}

#dropdownlist li{
	float:left;
	margin-right:10px;
	position:relative;
}
#dropdownlist a{
	display:block;
	color:#fff;
	background:#2980B9;
	text-decoration:none;
}
#dropdownlist a:hover{
	color:#fff;
	background:#3498DB ;
	text-decoration:none;
}

#dropdownlist ul{
	background:#fff; 
	background:rgba(255,255,255,0); 
	list-style:none;
	position:absolute;
	display: none;
}
#dropdownlist ul li{
	float:none;
	padding: 0px;
	margin: 0px;
}
#dropdownlist ul a{
	white-space:nowrap;
}

#dropdownlist li:hover ul{ 
	display: block; 
}
#dropdownlist li:hover a{ 
	background:#2980B9;
	text-decoration:none;
}
#dropdownlist li:hover ul a{ 
	text-decoration:none;
}
#dropdownlist li:hover ul li a:hover{ 
	background:#3498DB ;
}






/* Other list */

#dropdownlistelse{
	list-style:none;
	font-weight:bold;
	margin-bottom:10px;
	position: relative;
	z-index: 1000;
	left:0px;
	margin-left:10px;
	top:0px;
}

#dropdownlistelse li a{
	padding: 5px;
}

#dropdownlistelse li ul a{
	margin-top: 1px;
}

#dropdownlistelse li{
	float:left;
	margin-right:10px;
	position:relative;
}
#dropdownlistelse a{
	display:block;
	color:#fff;
	background:#2a488e;
	text-decoration:none;
}
#dropdownlistelse a:hover{
	color:#fff;
	background:#2a488e ;
	text-decoration:none;
}

#dropdownlistelse ul{
	background:#fff; 
	background:rgba(255,255,255,0); 
	list-style:none;
	position:absolute;
	display: none;
}
#dropdownlistelse ul li{
	float:none;
}
#dropdownlistelse ul a{
	white-space:nowrap;
	background:#2a488e;
}

#dropdownlistelse li:hover ul{ 
	display: block; 
}
#dropdownlistelse li:hover a{ 
	background:#2a488e;
	text-decoration:none;
}
#dropdownlistelse li:hover ul a{ 
	text-decoration:none;
}
#dropdownlistelse li:hover ul li a:hover{ 
	background:#2a488e ;
}