.contactform{
	margin-left: 40px;
}

.movedown{
	position: relative;
	top:25px;
}

.btn-contact{
	padding: 10px;
	width:80%;
	margin-top: 0px;
	font-weight: bold;
	background: #4090ba;
	color: #fff !important;
	line-height: 1 !important;
	font-size: 14px !important;
	font-family: source-sans-pro, sans-serif;;
	white-space: nowrap;
	border: none;
	cursor: pointer;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
}

.btn-contact:hover{
	background: #4183c4;
}