
a img {
  border: none;
}

a {
  color: #0000FF;
}

.error {
  color: #ff0000;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  margin-top: 20px;
}

#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin: 0;
}

.simple_form label {
  float: left;
  display: inline-block;
  width:200px;
  text-align: left;
  margin: 2px 10px;
}

.simple_form div.input_field  {

  margin-bottom: 10px;
  
}

.simple_form div.boolean, .simple_form input[type='submit'] {
 margin-bottom: 10px;
}

.simple_form div.boolean label, .simple_form label.collection_radio {
  float: none;
   margin:0px;
}

.simple_form label.collection_radio {
  margin-right: 10px;
  margin-left: 2px;
}

.simple_form .error {
  clear: left;
  margin-left: 120px;
  font-size: 12px;
  color: #D00;
  display: inline;
}

.simple_form .hint {
  font-size: 10px;
  color: #555;
  display: inline;
  font-style: italic;
}
form.form-inline div.control-group { display: inline-block; }
form.form-inline div.control-group div.controls { display: inline-block; }

.tableform
{
  width: 500px;

}
.tableform th
{
  width:200px;
  font-weight: normal;
  text-align: left;
font-size: 14px;

}
.tableform tr
{

}

.tableform td
{
  width:300px;

}

.date{
width:80px;
}



