.coursebox{
	background: #fff; /*#e8f1f8;*/
	position: relative;
	margin-top: 10px;
	width: 100%;
	height:auto;
	/*-moz-box-shadow:    inset 0 0 1px #000000;
   	-webkit-box-shadow: inset 0 0 1px #000000;
   	box-shadow:         inset 0 0 1px #000000;*/
   	/*-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;*/
	        /*-moz-box-shadow:    2px 2px 2px 2px #4183c4;
		  -webkit-box-shadow: 2px 2px 2px 2px #4183c4;
		  box-shadow:         2px 2px 2px 2px #4183c4;*/
		  border: 1px solid #eee;
		  -webkit-box-shadow: 0 8px 6px -6px #333;
	   -moz-box-shadow: 0 8px 6px -6px #333;
	        box-shadow: 0 8px 6px -6px #333;
  	margin-bottom: 20px;
}

.coursebox .coureseimg{
	float: left;
	position: relative;
	width:15%;

}

.coursebox .coureseimg img{
	padding: 20px;
}

.coursebox .coursetext{
	float: left;
	margin-left: 30px;
	padding: 10px;
	width:60%;
	text-align: justify;
}

.coursebox .coursetext h4{
	color: #4183c4;/*#4090ba;*/
	font-size: 1.8em;
	letter-spacing: 0;
	font-weight: bold;
	line-height: 1.2;
}

.coursebox .coursetext p{
	color: #aaa;
	letter-spacing: 0;
	line-height: 1.4;
	margin: 0 0 3px;
	margin-top: 10px;
	font-size: 1.25em;
}

.coursebutton {
	margin-top: 10px;
font-weight: bold;
padding: 12px 15px;
background: #4090ba;
color: #fff !important;
line-height: 1 !important;
font-size: 14px !important;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
white-space: nowrap;
border: none;
cursor: pointer;
display: -moz-inline-stack;
display: inline-block;
vertical-align: middle;
zoom: 1;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
-ms-border-radius: 4px;
-o-border-radius: 4px;
border-radius: 4px;
}

.coursesocialbox{
border-left: 1px solid #eee;
float: right;
display: block;
margin-top: 80px;
margin-bottom: 2px;
position: relative;
width: 10%;
padding-top: 10px;
padding-left: 20px;
padding-right: 20;
padding-bottom: 10px;
}


.coursecount span{
	letter-spacing: 0;
	line-height: 1.4;
	font-size: 1.1em;
	margin-left: 20px;
	position: relative;
	top:5px;
}