.courseclub{
	/*background-color: #d14836;
	background-image: -webkit-linear-gradient(top,#f1f1f1,#fff);
	background-image: -moz-linear-gradient(top,#f1f1f1,#fff);
	background-image: -ms-linear-gradient(top,#f1f1f1,#fff);
	background-image: -o-linear-gradient(top,#f1f1f1,#fff);
	background-image: linear-gradient(top,#f1f1f1,#fff);
	border: 1px solid transparent;
	border: 1px solid transparent;*/
}
.pagehead.separation {
padding: 10px 0px;
border-bottom: 1px solid #eee;
/*background-color: #d14836;
	background-image: -webkit-linear-gradient(top,#ECF0F1,#BDC3C7);
	background-image: -moz-linear-gradient(top,#ECF0F1,#BDC3C7);
	background-image: -ms-linear-gradient(top,#ECF0F1,#BDC3C7);
	background-image: -o-linear-gradient(top,#ECF0F1,#BDC3C7);
	background-image: linear-gradient(top,#ECF0F1,#BDC3C7);*/
	/*background:#f2e1ac;*/

background-color:#ffe6b3;
border-radius:10px;
	/*background-color:#fae58a;*/
	text-align:center;
	  box-shadow: 0 3px 5px 7px #cccccc;
   margin-top: -20px;
}

.coming_soon{
	 margin-left: -25px;margin-top: -16px;position: absolute;
}

.coming_soon img{
	width:80px;
}

.free{
	 margin-left: -25px;margin-top: -16px;position: absolute;
}

.free img{
	width:80px;
}
.pagehead .container {
position: relative;
}

.pagehead h1 {
margin: 0 0 10px;
font-size: 20px;
font-weight: normal;
line-height: 28px;
color: #495961;
z-index: 0;
margin-left: 30px;
}

.pagehead.separation h1 {
margin-bottom: 0px;
font-size: 24px;
line-height: 34px;

}

.category-search {
position: relative;
float: right;
}

.category-search .mini-icon-search-input {
position: absolute;
left: 7px;
top: 9px;
z-index: 5;
color: #999;
}

.mini-icon {
font-size: 16px;
width: 16px;
height: 16px;
}

.category-search .category-search-input {
padding-left: 28px;
width: 205px;
}

input[type="text"], #adv_code_search .search-page-label, input[type="password"], input[type="email"], textarea {
min-height: 34px;
outline: none;
color: #333;
background-color: #fff;
background-repeat: no-repeat;
background-position: right center;
border: 1px solid #ccc;
border-radius: 3px;
box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
-moz-box-sizing: border-box;
box-sizing: border-box;
transition: all 0.15s ease-in;
-webkit-transition: all 0.15s ease-in 0;
vertical-align: middle;
font-size: 13px;
}

.categorygap{
	margin-top:10px;
	
}

.categoryarea{
	background-color: #d5e4f2;
}

.moveup{
	position: relative;
	top:-20px;
}

.courselibsectioninfo{
	position: relative;
	padding: 10px;
	/*border-bottom: 1px solid #eee;*/
}

.orange{
	/*background-color: #f1684e;*/
	background:#2b6341;
	}

.blue{
	background-color: #4090ba;
}
