.course-post-meta {
list-style: none;
margin-bottom: 10px;
color: #999999;
padding: 0px;
margin: 0px;
}

.course-post-meta li {
display: inline;
padding-right: 20px;
}

.course-post-meta .mini-icon, .course-post-meta .author-avatar {
vertical-align: top;
border-radius: 3px;
}


.mini-icon {
font-size: 16px;
width: 16px;
height: 16px;
}

.author-avatar {
vertical-align: top;
border-radius: 3px;
height:18px;
width: 18px;
}

.course-post-meta a {
color: #999999;
}
.course-post-meta a:hover {
	color: #999999;
	text-decoration: underline;
}