@import "bootstrap";
@import "bootstrap-responsive";

@import url(http://fonts.googleapis.com/css?family=Droid+Serif);
@import url(http://fonts.googleapis.com/css?family=Marcellus);

/* mixins, variables, etc. */
$grayMediumLight: #eaeaea;
.upcoming{
  font-family: Marcellus, "Droid Serif";
  padding:0px;

  /*-moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;*/
   -webkit-box-shadow: 0 8px 6px -6px #3A87AD;
   -moz-box-shadow: 0 8px 6px -6px #3A87AD;
   box-shadow: 0 8px 6px -6px #3A87AD;
 }

 .categories{
  font-family: Marcellus, "Droid Serif";
  padding:0px;

  /*-moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;*/
   -webkit-box-shadow: 0 8px 6px -6px #3A87AD;
   -moz-box-shadow: 0 8px 6px -6px #3A87AD;
   box-shadow: 0 8px 6px -6px #3A87AD;
 }

 .well-course{


  margin:20px;
  padding:10px;
  border-bottom-color: #ddd;
  border-bottom-width:1px;
  border-bottom-style: solid;
  font-family: "OpenSansRegular";
  font-weight:bold;

}


.well{ background-color:#efeddf}



// .well-course:hover{
//   -webkit-box-shadow: 0px 8px 0px 0px #3A87AD;
//   -moz-box-shadow: 0px 8px 0px 0px #3A87AD;
//   box-shadow: 0px 8px 0px 0px #3A87AD;
//             // font-weight: bold;

//           }

.well-course h4 img{
  float:left;
  margin-right:20px;
      /*border-color: #3A87AD;
      border-width:5px;
      border-style: solid;*/
      top:-5px;
      position:relative;
      font-family: Marcellus;
      -webkit-box-shadow: 0 8px 6px -6px #3A87AD;
      -moz-box-shadow: 0 8px 6px -6px #3A87AD;
      box-shadow: 0 8px 6px -6px #3A87AD;

    }

    #course_topic_ids {
      width: 450px;
    }

    .Tags{
      margin:10px;
    }

    #tutorial_group_ids {
      width: 450px;
    }

    #blog_tag_ids {
      width: 450px;
    }

    .search-field{
      line-height: 30px;
    }




    .move-to-right-top{
      float: right;
      margin-bottom:10px;
    }

    .move-to-right-bottom{
      float: right;
    }



    .coachbox{
      width:100%;
      margin:10px;
      padding:10px;
      border-left-style: solid;
      border-left-color: #CDB5CD;
      border-left-width: 5px;
      font-family: Marcellus ;
    }

    .coachbox:hover{
      border-left-color: #BF5FFF;
    }

    .coachbox h1{
      font-family: Marcellus, "Droid Serif";
      font-size: 20px;
      margin-left:20px;
      margin-bottom: 0px;
      padding:0px;
    }

    #droplinks a:hover{
      color: #f1f1f1;
    }

    .coachbox{
      width:70%;
      border-left-style: solid;
      border-left-color: #08C;
      border-left-width: 5px;
      font-family: Marcellus ;
      background-color: #fff;
    }

    .coachbox:hover{
      border-left-color: black;
      background-color: #eee;
      background-color: #f2f2f2;
    }

    .coachbox span{
      font-family: Marcellus, "Droid Serif";
      font-size: 20px;
      float:left;
      margin-left:5px;
      margin-top:0px;
      margin-bottom:0px;
      padding:0px;
    }

    .coachbox img{
      float: left;
    }

    .coachbox span p{
      font-family: "Droid Serif";
      font-size: 10px;
      color:black;
    }





    #pointout{
      background: url('arrow.png') no-repeat right top;
      position: absolute;
      top:50px;
      left:10px;
      width:50px;
      height:50px;
    }

    .pointing-image{
      position: absolute;
      top:25px;left:280px;
    }
    .pointing-image-1{
      position: relative;
      top:-10px;
      height:40px;
    }

    @mixin box_sizing {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }

    .movetoright{
      float:right;
    }



    .align-left { text-align: left; }
    .align-right { text-align: right; }
    .align-center { text-align: center; }
    .align-justify { text-align: justify; }

    .push-down { margin-bottom: 1em; }
    .push-left { margin-left: 1em; }
    .push-right { margin-right: 1em; }
    .push-up { margin-top: 1em; }

    @media(min-width: 980px) {
      .navbar-fixed-top + * {
        margin-top: 60px;
      }

      .navbar-fixed-bottom + *{
        margin-bottom: 60px;
      }
    }

    .home-heading span{
      font-family: 'Marcellus';
      font-size: 200%;
      color: #006CCC;
    }

    .home-heading p{
      font-family: 'Droid Serif', serif;
      font-weight: normal;
      font-size: 1.90em;
      line-height: 1.25;
      font-weight: 300;
      margin-top: .25em;
      color: #839FA5;
      font-align: justify;
    }


/* forms */
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width:80%;
  padding: 10px;
  height: auto;
  margin-bottom: 15px;
  @include box_sizing;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}
.field_with_errors {
  @extend .control-group;
  @extend .error;
}





/* footer */
.footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}
.footer a {
  color: #777;
}

.footer a:hover {
  color: #3A87AD;
}

.blue{
  color: #3A87AD;
  font-family: 'Droid Serif', serif;
}

.footer big {
  float: left;
}
.footer ul {
  float: right;
  list-style: none;
}
.footer ul li {
  float: left;
  margin-left: 10px;
}



.navbar .navbar-inner a:hover{
  color: #3A87AD;

}

.curr{
  color: #3A87AD;
}

.ourvideo{
  width:520px;
  padding-top:8px;
  margin:0px;
      /*background-color: #3A87AD;*/
      -webkit-box-shadow: 0 8px 6px -6px #3A87AD;
      -moz-box-shadow: 0 8px 6px -6px #3A87AD;
      box-shadow: 0 8px 6px -6px #3A87AD;
          /*-moz-box-shadow:    inset 0 0 10px #3A87AD;
        -webkit-box-shadow: inset 0 0 10px #3A87AD;
      box-shadow: inset 0 0 10px #3A87AD;*/

    }

    .video-me{
      margin:5px;

    }



    .entry-meta {
      padding:10px;
      color: #666;
      float: left;
      width: 630px;
      border-bottom: 1px solid #EFEFEF;

    }

    .entry-meta .meta-author, .entry-meta .meta-published, .entry-meta .meta-categories, .course-meta .meta-categories, .search-meta .meta-categories, .search-meta .meta-author {
      background: url(sprite-mini-icons.png) no-repeat 0px 0px;
      display: block;
      float: left;
      margin-right: 24px;
      padding-left: 24px;
    }

    .entry-meta a, .course-meta a, .search-meta a {
      color: #666;
    }

    .entry-meta .meta-published {
      background-position: 0px -20px;
    }

    .entry-meta .meta-categories, .course-meta .meta-categories, .search-meta .meta-categories {
      background-position: 0px -40px;
    }


    .entry-wrap {
      float: left;
      margin:20px;
      padding:10px;
      width: 630px;
    }

    .entry-thumbnail {
      background: white;
      border: 1px solid #D1D1D1;
      float: left;
      margin-bottom: 20px;
      margin-right: 25px;
      padding: 5px;
      position: relative;
      -moz-box-shadow: 0px 1px 2px #d1d1d1;
      -webkit-box-shadow: 0px 1px 2px #D1D1D1;
      box-shadow: 0px 1px 2px #D1D1D1;
      -moz-box-shadow:    inset 0 0 10px #3A87AD;
      -webkit-box-shadow: inset 0 0 10px #3A87AD;
      box-shadow: inset 0 0 10px #3A87AD;
    }

    .entry-content.has-post-image {
      width: 485px;
    }

    .entry-content {
      float: left;
      width: 100%;
    }

    .categories{
      margin:20px;

    }


    .upcoming{
      margin:5px;
    }

    .upcoming-widget {
      color: #666;
      float: left;
                  /*padding-bottom: 5px;*/
                  width: 100%;
                }

                .widget-thumbnail {
                  float: left;
                  width: 70px;
                  height:100px;
                }

                .widget-body {
                  float: right;
                  width: 150px;
                }

                .widget-body h4{
                  font-size: 13px;
                  font-weight: bold;
                }

                .upcoming-widget-wrap h4 {
                  color: #444;
                  font-size: 8px;
                    /*font-weight: bold;*/
                    /*margin-bottom: 3px;*/
                  }

                  .upcoming-widget p {
                    /*padding-bottom: 8px;*/
                  }



                  input[type="email"], input[type="text"], input[type="password"], textarea {
                    width: 100%;
                    height: 32px;
                    font-size: 15px;
                    direction: ltr;
                  }
                  input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, textarea:focus {
                    outline: none;
                    border: 1px solid #4D90FE;
                    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
                    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
                    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
                  }
                  input[type="email"], input[type="number"], input[type="password"], input[type="tel"], input[type="text"], input[type="url"], textarea {
                    display: inline-block;
                    height: 29px;
                    margin: 0;
                    padding: 0 8px;
                    background: white;
                    border: 1px solid #D9D9D9;
                    border-top: 1px solid silver;
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                    -webkit-border-radius: 1px;
                    -moz-border-radius: 1px;
                    border-radius: 1px;
                  }

                  textarea{
                    height: 50px;
                  }

                  .coachbox{
                    width:100%;
                    margin:10px;
                    padding:10px;
                    border-left-style: solid;
                    border-left-color: #CDB5CD;
                    border-left-width: 5px;
                    font-family: Marcellus ;
                  }

                  .coachbox:hover{
                    border-left-color: #BF5FFF;
                  }

                  .coachbox h1{
                    font-family: Marcellus, "Droid Serif";
                    font-size: 20px;
                    margin-left:20px;
                    margin-bottom: 0px;
                    padding:0px;
                  }

                  .thumbnail:hover{
                    border-color: #0088cc;
                  }

                  #wite_review .field text_field {
                    width:20px;
                  } 