.footer {
background: #fff;
padding-top: 25px;
position: relative;
width: 100%;
margin-top:20px;
margin-bottom:0px;
border-top: 1px solid #ddd;
}

.footer .mission {
}

.four, .row .four {
width: 33.33333%;
}

.footer .mission {
max-width: 315px;
}

.four, .row .four {
width: 33.33333%;
}

.column, .columns {
float: left;
min-height: 1px;
padding: 0 15px;
position: relative;
}

.footer .columns.three, .footer .row .columns.three, .row .footer .columns.three {
width: 22%;
}

.two, .row .two {
width: 16.66667%;
}

.footer .mission img {
height: 30px;
width: 30px;
margin-bottom: 15px;
}

.footer .mission p {
color: #333;
margin-top: 15px;
}

.footer .mission p {
display: block;
clear: left;
color: #333;
line-height: 1.5;
margin: 0 0 15px;
}

.footer p {
font-size: 13px;
}

.footer p .headinglike{
	font-size: 20px;
	font-weight: 500;
}

.footer .mission ul.social {
border-top: 0px solid #ddd;
margin-bottom: 25px;
margin-top: 0px;
margin-left: 0px;
}

.footer .mission ul.social li {
display: inline-block;
margin: 0 4px 0 0;
}

.footer .mission ul li {
font-size: 1.25em;
color: #999;
margin-bottom: 10px;
}

.footer .mission ul.social li a {
display: block;
height: 26px;
width: 26px;
}

.footer .mission ul a {
font-weight: bold;
color: #333;
}

.footer .mission p.copyright {
color: #333;
}

.footer_icon
{
width: auto\9;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
.footer .mission p {
display: block;
clear: left;
color: #333;
line-height: 1.5;
margin: 0 0 15px;
}

.footer p {
font-size: 13px;
}


.footer ul.link-list {
text-align: left;
}

.footer .link-list {
font-size: 1.25em;
}

ul.inline-list, ul.link-list {
margin: 0 0 17px -22px;
padding: 0;
list-style: none;
overflow: hidden;
}

.right {
float: right;
}

.footer ul.link-list li.heading {
font-weight: bold;

}

.footer ul.link-list li {
color: #333;
display: block;
float: none;
font-size: 13px;
}

.footer .link-list li, .footer .link-list a {
color: #333;
display: block;
line-height: 1.8;
}


ul.inline-list>li, ul.link-list>li {
list-style: none;
float: left;
margin-left: 22px;
display: block;
}




.footer ul.link-list li.heading a {
color: #333;
}

.footer .link-list .heading a {
font-weight: bold;
color: #333;
margin-bottom: 5px;
}

.footer ul.link-list a {
color: #333;
}

.footer .link-list li, .footer .link-list a {
color: #333;
display: block;
line-height: 1.8;
}

.footer .link-list li a:hover {
text-decoration: underline;
}

ul.inline-list>li>*, ul.link-list>li>* {
display: block;
}
.facebook, .linkedin, .or, .twitter, .youtube, .banner2_label, .banner1_label, .close, .googleplus, .plus1{
	background: url(sprites.png) no-repeat;
}

.facebook{
	background-position: 0 0;
	width: 30px;
	height: 30px;
}

.linkedin{
	background-position: -51px 0;
	width: 30px;
	height: 30px;
}

.or{
	background-position: -99px 0;
	width: 50px;
	height: 50px;
}

.twitter{
	background-position: -149px 0;
	width: 30px;
	height: 30px;
}

.youtube{
	background-position: -201px 0;
	width: 30px;
	height: 30px;
}

.banner2_label{
	background-position: -249px 0;
	width: 245px;
	height: 24px;
}

.banner1_label{
	background-position: 0 -51px ;
	width: 245px;
	height: 24px;
}

.close{
	background-position: -200px -51px ;
	width: 35px;
	height: 35px;
}

.googleplus{
background-position: -248px -52px;	width: 30px;
	height: 30px;
}
.plus1{
	background-position: -299px -48px ;
	width: 62px;
	height: 62px;
}