#question
{margin-top:15px;}
	.homebanner{
		min-height: 100px;
		/*background-color: #2C3E50;
		color:#fff;*/
		/*-moz-box-shadow:    inset 0 0 10px #000000;
	   -webkit-box-shadow: inset 0 0 10px #000000;
	   box-shadow:         inset 0 0 10px #000000;*/
	  /* background:#f2e1ac;*/
	  /* background-size: 100% 200px;
	   background-repeat: repeat;*/
	   color:#333;
	   /*	background-color: #d14836;
		background-image: -webkit-linear-gradient(top,#ECF0F1,#BDC3C7);
		background-image: -moz-linear-gradient(top,#ECF0F1,#BDC3C7);
		background-image: -ms-linear-gradient(top,#ECF0F1,#BDC3C7);
		background-image: -o-linear-gradient(top,#ECF0F1,#BDC3C7);
		background-image: linear-gradient(top,#ECF0F1,#BDC3C7);*/
		width:100%;
	}

	.tab_head{
		background:#2A488E;
		color:white;
	}
	.bannertext{
		line-height: 30px;
		font-size: 30px;
		font-weight: 200;
		/*color: #ECF0F1 ;*/
		color: #333;
		
		z-index: 0;

	}


	.bannersubtitle{
		position: relative;
		top:-10px;
		font-size: 19px;
		font-weight: 200;
		/*color: #ECF0F1 ;*/
		z-index: 0;
		color:#333;
	}

	.bannervideo{
		margin:10px 15px;
	    float: right;
	}

	.bannerinfo{
		text-align: left;

		/*color: #f1f1f1;*/
		z-index: 0;
	}

	.bannerinfo span{
		font-size: 15px;
		font-weight: 100;
	}

	.bannerlearn{
		margin-top: 20px;
		line-height: 25px;
		font-size: 20px;
		font-weight: 100;
		color: #f1f1f1;
		z-index: 0;
	}

	.bannerlearn .leartopic{
		float:left;
		margin-right: 0px;
		margin-bottom: 15px;
		padding: 8px 5px 0px 0px;
		/*text-transform: uppercase;*/
		border-radius: 1px;
		/*border-right:1px solid white;*/
		line-height:0px;
	}

	.learnheading{
		float:left;
		
		padding: 0px 0px;
		text-transform: uppercase;
		position: relative;
		top:-10px;
		font-size: 15px;
		font-weight: 200;
		color:#333;
	}

	.btn{
		margin-top: 0px;
	}



	.marketing{
		background: #50d07d ;
		color:#000;
	}

	.topimg{
		margin-top: 10px;
	}

	.homecourse{
		padding-bottom: 30px;
		/*background-color:#f1f1f1;*/
		color:#333;
		
		border-top: 1px solid #eee;
	 
		border: 1px solid transparent;
		border: 1px solid transparent;
	}

	.browsemore {
	width: 65px;
	height:65px;
	/*padding: 18px 3px 18px 20px;*/
	margin-top: 35px;
	margin-right: 5px;
	font-weight: bold;
	/*background: #2980B9;*/
	/*background-color:  	#2a488e;*/
	background-image:url('../assets/plus1.png');
	background-size: 65px 65px;
	color: #fff !important;
	line-height: 1 !important;
	font-size: 16px !important;
	 
	white-space: nowrap;
	border: none;
	cursor: pointer;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
	text-align: right;
	}

	.browselist {
	width: 45px;
	height:45px;

	margin-top: 30px;
	margin-right: 14px;
	font-weight: bold;
	background-image:url('../assets/greyplus.png');
	background-size: 45px 45px;
	color: #fff !important;
	line-height: 1 !important;
	font-size: 16px !important;
	 
	white-space: nowrap;
	border: none;
	cursor: pointer;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
	text-align: right;
	}
	.browsemore2{
		width: 65px;
	height:65px;
	/*padding: 18px 3px 18px 20px;*/
	margin-top: 30px;
	font-weight: bold;
	/*background: #2980B9;*/
	/*background-color:  	#2a488e;*/
	background-image:url('../assets/plus1.png');
	background-size: 65px 65px;
	color: #fff !important;
	line-height: 1 !important;
	font-size: 16px !important;
	 
	white-space: nowrap;
	border: none;
	cursor: pointer;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
	text-align: right;
	}
	.browsemore1{		
	padding: 7px;
	margin-top: 30px;
	font-weight: bold;
	/*background: #2980B9;*/
	background-color:  	#2a488e;
	color: #fff !important;
	line-height: 1 !important;
	font-size: 20px !important;
	 
	white-space: nowrap;
	border: none;
	cursor: pointer;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
	}
	/*.browsemore:hover{
		background: #3498DB ;
	}
	*/
	.browsemore1:hover{
		background: #3498DB ;
	}
	.ourcustomers{
		/*background-color:#f1f1f1;*/
		/*background-color: #d14836;
		background-image: -webkit-linear-gradient(top,#f1f1f1,#fff);
		background-image: -moz-linear-gradient(top,#f1f1f1,#fff);
		background-image: -ms-linear-gradient(top,#f1f1f1,#fff);
		background-image: -o-linear-gradient(top,#f1f1f1,#fff);
		background-image: linear-gradient(top,#f1f1f1,#fff);
		border: 1px solid transparent;
		border: 1px solid transparent;*/
		
	}

	.ourknowledgepartners{
		margin-top: 20px;
		margin-bottom: 20px;
		border-bottom: 0px solid #eee;
	}

	.verticalcoursebox{
		min-height: 300px;
		background-color: #4090ba;
		margin: 10px;
		padding: 10px;
	}

	.analytics{
		background: #f1684e;
		color:#000;
	}

	.operations{
		background-color: #763A7A;
		color:#000;
	}

	.finance{
		background-color: #50d07d;
		color:#000;
	}

	.verticalcoursebox .head{
		margin-top: 10px;
		font-size: 20px;
		font-weight: 200;
		color: #fff;
		z-index: 0;
		text-transform: uppercase;
	}

	.verticalcoursebox .courselines{
		padding: 20px;
		padding-bottom: 10px;
		padding-top: 10px;
		margin-top: 10px;
		line-height: 15px;
		font-size: 15px;
		font-weight: 100;
		color: #fff;
		z-index: 0;
		text-align: justify;
	}

	.courselines{
		color: #fff;
		text-align: justify;
	}



	.verticalcoursebox .coursepathbox{
		padding: 10px;
		line-height: 15px;
		font-size: 12px;
		font-weight: 100;
		color: #333;
		z-index: 0;
		text-align: center;
	}

	.homecoursebutton{
		padding: 10px;
		width:80%;
		margin-top: 10px;
		font-weight: bold;
		background: #000;
		color: #fff !important;
		line-height: 1 !important;
		font-size: 14px !important;
		 
		white-space: nowrap;
		border: none;
		cursor: pointer;
		display: -moz-inline-stack;
		display: inline-block;
		vertical-align: middle;
		zoom: 1;
		/*-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		-ms-border-radius: 4px;
		-o-border-radius: 4px;
		border-radius: 4px;*/
	}

	.browseourcourses{
		padding: 5px;
		margin-top: 0px;
		font-weight: bold;
		background: #2980B9 ;
		color: #fff !important;
		line-height: 1 !important;
		font-size: 20px !important;
		 
		white-space: nowrap;
		border: none;
		cursor: pointer;
		display: -moz-inline-stack;
		display: inline-block;
		vertical-align: middle;
		zoom: 1;
	}

	.browseourcourses:hover{
		background: #3498DB ;
	}

	.secondary-content .testimonials h2 {
		color: #333 ;
		text-align: center;
	}

	.ourcustomers{
		border-bottom: 0px solid #eee;
	}
	.secondary-content h2 {
	font-size: 36px;
	line-height: 72px;
	text-align: center;
	 
	color: #000;
	}
	.secondary-content{
		background-image:url(arrow_bg.png);
		height: 100px;
		width: 100%;
		background-size: 100% 100%;
	}


	.secondary-content h2.ribbon .title {
	font-size: 19px;
	position: relative;
	}

	.ribbon {
	background-image: url("images/ribbon2.jpg");
	background-size: 520px 45px;
	color: #fff;
	display: block;
	height: 45px;
	position: relative;
	text-transform: uppercase;
	width: 520px;
	}

	.verticalcustomerbox{
		min-height: 300px;
		margin: 10px;
		padding: 10px;
	}

	.testimonial-one{
		/*border-top: 5px solid #E74C3C;
		color:#E74C3C;*/
		/*border-top: 5px solid #333;*/
		color:#333;
	}

	.testimonial-two{
		/*border-top: 5px solid #8E44AD;
		color: #8E44AD;*/
		/*border-top: 5px solid #333;*/
		color: #333;
	}

	.testimonial-three{
		/*border-top: 5px solid #27AE60;
		color: #27AE60;;*/
		/*border-top: 5px solid #333;*/
		color: #333;;
	}

	.customerimage{
	margin: 0px;
	width: 95px;
	height: 105px;
	border-radius: 55px;
	border: none;
	box-shadow: 5px 5px 5px;
	}

	.customerimage img{
		width: 95px;
	height: 105px;
	border-radius: 55px;
	border: none;
	}

	.testimonialtext{
		margin-top: 5px;
		margin-bottom: 5px;
		font-size: 15px;
		font-weight: 100;
		z-index: 0;
		text-align: justify;
	    min-height: 200px;
		line-height: 21px;
		color: #333;
		border-left: none;
		
		font-size: 16px;
		margin-bottom: 13px;
	    font-weight: 100;
		margin: 0 0 17px;
		padding: 25px 35px 25px 35px;
		 
	}

	.testimonialauthor{
		margin-top: -35px;
	font-size: 15px;
	margin-right: 100px;

		text-align: right;
		color:#333;

	}

	.bottomadsection{
		/*border-top: 2px solid #4090ba ; 
		border-bottom: 2px solid #4090ba ;*/
		margin-top: 10px;
	padding: 20px 0px;
	color: white;
	min-height: 100px;
	background-image: url(bgblack.png);
	}

	.drawbordertop{
		/*border-top: 2px solid #eee ;*/
	}

	.createaccount{
		padding: 10px;
		margin-top: 10px;
		font-weight: bold;
		background: #2980B9 ;
		color: #fff !important;
		line-height: 1 !important;
		font-size: 14px !important;
		 
		white-space: nowrap;
		border: none;
		cursor: pointer;
		display: -moz-inline-stack;
		display: inline-block;
		vertical-align: middle;
		zoom: 1;
	}

	.createaccount:hover{
		background: #3498DB ;
	}
	.browseourcoursessmall{
		padding: 10px 25px;
		margin-top: 10px;
		font-weight: normal;
		/*background: #2980B9 ;*/
		background: #fab619;
		color: #000 !important;
		line-height: 1 !important;
		font-size: 32px !important;
		 
		white-space: nowrap;
		border: none;
		cursor: pointer;
	    width:325px;
		display: -moz-inline-stack;
		display: inline-block;
		vertical-align: middle;
		zoom: 1;
		text-decoration:none;
	}

	.browseourcoursessmall:hover{
		/*background: #3498DB ;*/
		background:#fab619;
	}

	.listofkp{
		min-height: 100px;
		padding-top: 10px;
		padding-bottom: 10px;
		
		position: relative;
		margin-top: 20px;
	    padding:10px 130px;
	}

	.listofkp .kp{
		float: left;
		/*margin-left: 10px;*/
		/*border-right: 1px solid #eee;*/
	    padding:0px 40px;
	}

	.listofkp .lastkp{
		float: left;
	    padding:0px 40px;
	}

	.listofkp .firstkp{
		float: left;
		margin-left: 20px;
		/*margin-left: 10px;*/
		/*border-right: 1px solid #eee;*/
		padding:0px 40px;
	}

	.listofkp .firstkp img{width:165px;height:85px;}
	.listofkp .kp img{width:165px;height:85px;}
	.listofkp .lastkp img{width:165px;height:85px;}
	/*browsemore customize for home page*/

	.browsemore-home {
	padding: 20px;
	margin-top: 30px;
	font-weight: bold;
	/*background: #2980B9;*/
	background-color:  	#19757f;
	color: #fff !important;
	line-height: 1 !important;
	font-size: 20px !important;
	 
	white-space: nowrap;
	border: none;
	cursor: pointer;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
	}

	.browsemore-home:hover{
		background: #3e9c7c ;
	}

	/*home page course categories display in badges*/

		.badge1 {
	  display: inline-block;
	  padding: 2px 4px;
	  font-size: 13px;
	  line-height: 0px;
	color:white;
	  /*color:#2980B9;
	*/  /*text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);*/
	  white-space: nowrap;
	  vertical-align: baseline;
	  /*background-color: #999999;*/
	  /*background:#f3da95;*/
	  font-weight: bold
	  }
	.badge1:hover
	{
	  /*color:#2980B9;*/
	 /* color:#2a488e;*/
	 color:orange;
	  font-weight: bold;
	}
.facebook, .linkedin, .or, .twitter, .youtube, .banner2_label, .banner1_label, .close, .googleplus, .plus1{
	background: url(sprites.png) no-repeat;
}

.facebook{
	background-position: 0 0;
	width: 30px;
	height: 30px;
}

.linkedin{
	background-position: -51px 0;
	width: 30px;
	height: 30px;
}

.or{
	background-position: -99px 0;
	width: 50px;
	height: 50px;
}

.twitter{
	background-position: -149px 0;
	width: 30px;
	height: 30px;
}

.youtube{
	background-position: -201px 0;
	width: 30px;
	height: 30px;
}

.banner2_label{
	background-position: -249px 0;
	width: 245px;
	height: 24px;
}

.banner1_label{
	background-position: 0 -51px ;
	width: 245px;
	height: 24px;
}

.close{
	background-position: -200px -51px ;
	width: 35px;
	height: 35px;
}

.googleplus{
background-position: -248px -52px;	width: 30px;
	height: 30px;
}
.plus1{
	background-position: -299px -48px ;
	width: 62px;
	height: 62px;
}

.nav-tabs1,
.nav-pills1 {
  *zoom: 1;
}

.nav-tabs1:before,
.nav-pills1:before,
.nav-tabs1:after,
.nav-pills1:after {
  display: table;
  line-height: 0;
  content: "";
}

.nav-tabs1:after,
.nav-pills1:after {
  clear: both;
}

.nav-tabs1 > li,
.nav-pills1 > li {
  float: left;
}
.nav-tabs1,
.nav-pills1 {
  *zoom: 1;
}

.nav-tabs1:before,
.nav-pills1:before,
.nav-tabs1:after,
.nav-pills1:after {
  display: table;
  line-height: 0;
  content: "";
}

.nav-tabs1:after,
.nav-pills1:after {
  clear: both;
}

.nav-tabs1 > li,
.nav-pills1 > li {
  float: left;
}

.nav-tabs1 > li > a,
.nav-pills1 > li > a {
  padding-right: 100px;
  padding-left: 100px;
  margin-right: 0px;
  line-height: 14px;
}

.nav-tabs1 > li > a {
  padding-top: 12px;
  padding-bottom: 13px;
  line-height: 20px;
font-size: 21px;
color: white;

}
.navbar .nav > .active > a{border-bottom: 2px solid #333;}
.nav-tabs1 > li:hover {
 background-color: #fff;
 color:#000;
}

.nav-tabs1 > .active > a,
.nav-tabs1 > .active > a:hover {
  color: #555555;
  cursor: default;
  background-color: #ffffff;
  border-top: 1px solid #333;
 
}

.nav-tabs2,
.nav-pills {
  *zoom: 1;
}

.nav-tabs2:before,
.nav-pills:before,
.nav-tabs2:after,
.nav-pills:after {
  display: table;
  line-height: 0;
  content: "";
}

.nav-tabs2:after,
.nav-pills:after {
  clear: both;
}

.nav-tabs2 > li,
.nav-pills > li {
  float: left;
}
.nav-tabs2,
.nav-pills {
  *zoom: 1;
}

.nav-tabs2:before,
.nav-pills:before,
.nav-tabs2:after,
.nav-pills:after {
  display: table;
  line-height: 0;
  content: "";
}

.nav-tabs2:after,
.nav-pills:after {
  clear: both;
}

.nav-tabs2 > li,
.nav-pills > li {
  float: left;
}

.nav-tabs2 > li > a,
.nav-pills > li > a {
  padding-right: 0px;
  padding-left: 0px;
  margin-right: 0px;
  line-height: 14px;
}
.nav-tabs2 > li > a{font-size:16px;}
.nav-tabs2 > li {
margin-bottom: -1px;
border-bottom: 1px solid #ddd;
width: 90%;
}

.nav-tabs2 > li > a {
  padding-top: 8px;
  padding-bottom: 8px;
  line-height: 20px;
  color: #000;
 border-top: 1px solid #ddd;
}

.nav-tabs2 > li > a:hover {
  color: #4183c4;
  cursor: pointer;
  background-color: #ffffff;
  font-weight:bold;
}

.nav-tabs2 > .active > a,
.nav-tabs2 > .active > a:hover {
  color: #4183c4;
  cursor: pointer;
  background-color: #ffffff;
  border-top: 1px solid #ddd;
 }