.homebanner{
	min-height: 100px;
	/*background-color: #2C3E50;
	color:#fff;*/
	/*-moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;*/
   background:#f2e1ac;
   background-size: 100% 200px;
   background-repeat: repeat;
   color:#333;
   /*	background-color: #d14836;
	background-image: -webkit-linear-gradient(top,#ECF0F1,#BDC3C7);
	background-image: -moz-linear-gradient(top,#ECF0F1,#BDC3C7);
	background-image: -ms-linear-gradient(top,#ECF0F1,#BDC3C7);
	background-image: -o-linear-gradient(top,#ECF0F1,#BDC3C7);
	background-image: linear-gradient(top,#ECF0F1,#BDC3C7);*/
	width:100%;
}

.bannertext{
	line-height: 30px;
	font-size: 30px;
	font-weight: 200;
	/*color: #ECF0F1 ;*/
	color: #333;
	z-index: 0;
	text-transform: capitalize;
}

.bannersubtitle{
	position: relative;
	top:-10px;
	font-size: 19px;
	font-weight: 200;
	/*color: #ECF0F1 ;*/
	z-index: 0;
	color:#333;
}

.bannervideo{
	margin:20px;
}

.bannerinfo{
	margin-top: 20px;
	/*color: #f1f1f1;*/
	z-index: 0;
}

.bannerinfo span{
	font-size: 15px;
	font-weight: 100;
}

.bannerlearn{
	margin-top: 20px;
	line-height: 25px;
	font-size: 20px;
	font-weight: 100;
	color: #f1f1f1;
	z-index: 0;
}

.bannerlearn .leartopic{
	float:left;
	margin-right: 5px;
	margin-bottom: 5px;
	padding: 5px;
	text-transform: uppercase;
	border-radius: 1px;
}

.learnheading{
	float:left;
	margin-right: 10px;
	padding: 5px;
	text-transform: uppercase;
	position: relative;
	top:-5px;
	font-size: 15px;
	font-weight: 200;
	color:#333;
}

.btn{
	margin-top: 0px;
}



.marketing{
	background: #50d07d ;
	color:#000;
}

.topimg{
	margin-top: 10px;
}

.homecourse{
	padding-bottom: 30px;
	/*background-color:#f1f1f1;*/
	color:#333;
	border-top: 1px solid #eee;
	background-color: #d14836;
	background-image: -webkit-linear-gradient(top,#fff,#f1f1f1);
	background-image: -moz-linear-gradient(top,#fff,#f1f1f1);
	background-image: -ms-linear-gradient(top,#fff,#f1f1f1);
	background-image: -o-linear-gradient(top,#fff,#f1f1f1);
	background-image: linear-gradient(top,#fff,#f1f1f1);
	border: 1px solid transparent;
	border: 1px solid transparent;
}

.browsemore {
padding: 20px;
margin-top: 30px;
font-weight: bold;
/*background: #2980B9;*/
background-color:  	#2a488e;
color: #fff !important;
line-height: 1 !important;
font-size: 20px !important;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
white-space: nowrap;
border: none;
cursor: pointer;
display: -moz-inline-stack;
display: inline-block;
vertical-align: middle;
zoom: 1;
}

.browsemore:hover{
	background: #3498DB ;
}

.ourcustomers{
	/*background-color:#f1f1f1;*/
	/*background-color: #d14836;
	background-image: -webkit-linear-gradient(top,#f1f1f1,#fff);
	background-image: -moz-linear-gradient(top,#f1f1f1,#fff);
	background-image: -ms-linear-gradient(top,#f1f1f1,#fff);
	background-image: -o-linear-gradient(top,#f1f1f1,#fff);
	background-image: linear-gradient(top,#f1f1f1,#fff);
	border: 1px solid transparent;
	border: 1px solid transparent;*/
	background-color: #d14836;
	background-image: -webkit-linear-gradient(top,#fff,#f1f1f1);
	background-image: -moz-linear-gradient(top,#fff,#f1f1f1);
	background-image: -ms-linear-gradient(top,#fff,#f1f1f1);
	background-image: -o-linear-gradient(top,#fff,#f1f1f1);
	background-image: linear-gradient(top,#fff,#f1f1f1);
}

.ourknowledgepartners{
	margin-top: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #eee;
}

.verticalcoursebox{
	min-height: 300px;
	background-color: #4090ba;
	margin: 10px;
	padding: 10px;
}

.analytics{
	background: #f1684e;
	color:#000;
}

.operations{
	background-color: #763A7A;
	color:#000;
}

.finance{
	background-color: #50d07d;
	color:#000;
}

.verticalcoursebox .head{
	margin-top: 10px;
	font-size: 20px;
	font-weight: 200;
	color: #fff;
	z-index: 0;
	text-transform: uppercase;
}

.verticalcoursebox .courselines{
	padding: 20px;
	padding-bottom: 10px;
	padding-top: 10px;
	margin-top: 10px;
	line-height: 15px;
	font-size: 15px;
	font-weight: 100;
	color: #fff;
	z-index: 0;
	text-align: justify;
}

.courselines{
	color: #fff;
	text-align: justify;
}



.verticalcoursebox .coursepathbox{
	padding: 10px;
	line-height: 15px;
	font-size: 12px;
	font-weight: 100;
	color: #333;
	z-index: 0;
	text-align: center;
}

.homecoursebutton{
	padding: 10px;
	width:80%;
	margin-top: 10px;
	font-weight: bold;
	background: #000;
	color: #fff !important;
	line-height: 1 !important;
	font-size: 14px !important;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	white-space: nowrap;
	border: none;
	cursor: pointer;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
	/*-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;*/
}

.browseourcourses{
	padding: 5px;
	margin-top: 0px;
	font-weight: bold;
	background: #2980B9 ;
	color: #fff !important;
	line-height: 1 !important;
	font-size: 20px !important;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	white-space: nowrap;
	border: none;
	cursor: pointer;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
}

.browseourcourses:hover{
	background: #3498DB ;
}

.secondary-content .testimonials h2 {
	color: #333 ;
	text-align: center;
}

.ourcustomers{
	border-bottom: 1px solid #eee;
}
.secondary-content h2 {
font-size: 26px;
text-align: center;
}

.secondary-content h2.ribbon .title {
font-size: 19px;
position: relative;
}

.ribbon {
background-image: url("images/ribbon2.jpg");
background-size: 520px 45px;
color: #fff;
display: block;
height: 45px;
position: relative;
text-transform: uppercase;
width: 520px;
}

.verticalcustomerbox{
	min-height: 300px;
	margin: 10px;
	padding: 10px;
}

.testimonial-one{
	/*border-top: 5px solid #E74C3C;
	color:#E74C3C;*/
	/*border-top: 5px solid #333;*/
	color:#333;
}

.testimonial-two{
	/*border-top: 5px solid #8E44AD;
	color: #8E44AD;*/
	/*border-top: 5px solid #333;*/
	color: #333;
}

.testimonial-three{
	/*border-top: 5px solid #27AE60;
	color: #27AE60;;*/
	/*border-top: 5px solid #333;*/
	color: #333;;
}

.customerimage{
margin: 0px;
width: 95px;
height: 105px;
border-radius: 55px;
border: none;
box-shadow: 5px 5px 5px;
}

.customerimage img{
	width: 95px;
height: 105px;
border-radius: 55px;
border: none;
}

.testimonialtext{
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 15px;
	font-weight: 100;
	z-index: 0;
	text-align: justify;
	line-height: 1.5;
	color: #6f6f6f;
	border-left: none;
	color: rgba(0,0,0,0.6);
	font-size: 15px;
	margin-bottom: 13px;
	text-align: center;
	margin: 0 0 17px;
	padding: 9px 20px 0 19px;
	font-family: verdana ;
}

.testimonialauthor{
	margin-top: 20px;
	font-size: 15px;
	font-weight: 300;
	text-align: center;
	color:#333;
	font-weight: 600;
}

.bottomadsection{
	/*border-top: 2px solid #4090ba ; 
	border-bottom: 2px solid #4090ba ;*/
	margin-top: 5px;
}

.drawbordertop{
	/*border-top: 2px solid #eee ;*/
}

.createaccount{
	padding: 10px;
	margin-top: 10px;
	font-weight: bold;
	background: #2980B9 ;
	color: #fff !important;
	line-height: 1 !important;
	font-size: 14px !important;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	white-space: nowrap;
	border: none;
	cursor: pointer;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
}

.createaccount:hover{
	background: #3498DB ;
}
.browseourcoursessmall{
	padding: 10px;
	margin-top: 10px;
	font-weight: bold;
	/*background: #2980B9 ;*/
	background-color: #2a488e;
	color: #fff !important;
	line-height: 1 !important;
	font-size: 14px !important;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	white-space: nowrap;
	border: none;
	cursor: pointer;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
}

.browseourcoursessmall:hover{
	background: #3498DB ;
}

.listofkp{
	min-height: 100px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 1px solid #eee;
	position: relative;
	margin-top: 20px;
}

.listofkp .kp{
	float: left;
	/*margin-left: 10px;*/
	border-right: 1px solid #eee;
	padding-right: 10px;
	padding-left:10px;
}

.listofkp .lastkp{
	float: left;
	padding-right: 10px;
	padding-left:10px;
}

.listofkp .firstkp{
	float: left;
	margin-left: 20px;
	/*margin-left: 10px;*/
	border-right: 1px solid #eee;
	padding-right: 10px;
	padding-left:10px;
}