/*
#f1684e; - orange
#4090ba; - blue
#50d07d; green
#763A7A; - violate

*/

.btn-login{
	margin-top: 10px;
	font-weight: bold;
	padding: 12px 15px;
	background: #2C3E50 ;
	color: #fff !important;
	line-height: 1 !important;
	font-size: 14px !important;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	white-space: nowrap;
	border: none;
	cursor: pointer;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
}


.btn-logout {
background-color: #333;
color: #fff;
font: 1em "OpenSansBold",Helvetica,Arial,sans-serif;
border-radius: 3px;
border: 0;
cursor: pointer;
text-align: center;
text-transform: uppercase;
padding: 5px 12px;
}

.btn-logout:hover {
	color: #fff ;
	background-color: #999;
}

.btn-coursesbtn {
background-color: #4183c4;
color: #fff;
font: 1em "OpenSansBold",Helvetica,Arial,sans-serif;
border-radius: 3px;
border: 0;
cursor: pointer;
text-align: center;
text-transform: uppercase;
padding: 5px 12px;
}

.btn-coursesbtn:hover{
	color: #fff ;
	background-color: #7ba9d6;
}

.btn-profile {
background-color: #4183c4;
color: #fff;
font: 1em "OpenSansBold",Helvetica,Arial,sans-serif;
border-radius: 3px;
border: 0;
cursor: pointer;
text-align: center;
text-transform: uppercase;
padding: 5px 12px;
}

.btn-profile:hover{
	color:#fff;
	background-color: #7ba9d6;
}