@import url(http://fonts.googleapis.com/css?family=Droid+Serif);
@import url(http://fonts.googleapis.com/css?family=Marcellus);

.terms{
	font-family:Marcellus;
}

.terms h3{
	color: #f1f1f1;
	background-color: #08C;
	padding-left:5px;
	padding-right:5px;
}

.terms p {
	marhin:0px;
	padding:0px;
}