<h3 align = "center">Testimonials</h3>
<table align="center"><tr>
<td><%= @testimonial.name %></td>
<td><%= @testimonial.organization %></td>
<td><%= @testimonial.job %></td>
<td><%= @testimonial.comment %></td>
</tr>
</table>