 <div id="partnerpopup" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="left: 24%;width: 700px;margin-left: 0px;" > 
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><a href="#" onclick="close_popup()"><%=image_tag("close.png", alt: "", :size=>"35x35")%></a></button>
  <div class="modal-header" >
    <h3 id="myModalLabel" align="center">Our Knowledge Partner </h3>
  </div>
  <div class="modal-body" style="margin-left: 10px;
text-align: center;">
  <img src="assets/GREAT LAKES LOGO.jpg" />
  <p style="margin-bottom: 10px;
text-align: justify;">Great Lakes is one of India’s leading business schools with dual campuses in Chennai and Gurgaon. Led by exceptional academic faculty, steered by an outstanding advisory council and buoyed by the international collaborations, Great Lakes has, within a short span of ten years emerged as a top-ranked business school, ranked among the top 10 by Business Standard and Career 360 magazines.</p>
  <p style="margin-bottom: 10px;
text-align: justify;">
Great Lakes has alliances with some of the leading universities of the world namely Yale University, University of Bordeaux, Stuart School of Business, C. T. Bauer College of Business (University of Houston) and Nanyang Technological University (Singapore). Great Lakes offers full-time management programs, programs for executives and working professionals as well as energy-sector focused full-time and executive MBA programs. Students graduating from Great Lakes are recruited by world renowned organizations both in India and overseas. </p>
<a href="http://www.greatlakes.edu.in/" style="text-decoration:underline;">visit website</a>
</div>
</div>
